# Add any directories, files, or patterns you don't want to be tracked by version control
App/node_modules
App/platforms
App/plugins
App/resources/android
App/resources/ios
App/resources/windows
App/www/lib
