<ion-view view-title="{{ 'bookResume.title' | translate}}">
    <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="back()" >
                <i class="icon ion-ios-arrow-back"> 
                        {{ 'commons.back' | translate}}
                </i>
            </button>
        </ion-nav-buttons>
<ion-content class="mb80">
    <div class="list m-bottom0">
        <a class="item item-icon-right park-item" ng-click='changeParking("A")'>
            <p>{{ selectedParkB ? 'bookResume.pickupStation' : 'bookResume.returnStation' | translate}}<span class="color-error">*</span></p>
            <h2><strong>{{ selectedPark.parking_name }}</strong></h2>
            <p>{{ selectedPark.address }}, {{ selectedPark.city }}</p>
            <i class="icon ion-ios-navigate-outline icons-reservation"></i>
        </a>
        <a class="item item-icon-right park-item" ng-click='changeParking("B")'>
            <p>{{ 'bookResume.returnStation' | translate}}<span class="color-error">*</span></p>
            <h2><strong>{{ selectedParkB.parking_name }}</strong></h2>
            <p>{{ selectedParkB.address }}, {{ selectedParkB.city }}</p>
            <i class="icon ion-ios-navigate-outline icons-reservation"></i>
        </a>
        <a class="item item-icon-right date-item" ng-click='selectFromDate()'>
            <p>{{ 'bookResume.dateStationFrom' | translate}}<span class="color-error">*</span></p>
            <h2><strong>{{ dateTimeFrom | date:'dd/MM/yyyy' }}</strong></h2>
            <i class="icon ion-ios-calendar-outline icons-reservation"></i>
        </a>
        <a class="item item-icon-right date-item" ng-click='selectFromDate()'>
            <p>{{ 'bookResume.dateStationFrom' | translate}}<span class="color-error">*</span></p>
            <h2><strong>{{ dateTimeFrom | date:'dd/MM/yyyy HH:mm' }}</strong></h2>
            <i class="icon ion-clock"></i>
        </a>
    </div>
</ion-content>
<div class="row footer-fixed">
    <div class="col col-50">
        <button ng-click='cancel()' class="button button-block button-balanced">
            {{ 'commons.cancel' | translate}}
        </button>
    </div>
    <div class="col col-50">
        <button ng-click='searchVehicle()' class="button button-block button-positive">
            {{ 'bookResume.confirmStation' | translate}}
        </button>
    </div>
</div>
</ion-view>