.color-cube {
	display: inline-block;
	border: 1px solid #aaa;
	border-radius: 50%;
}

.color-cube > div {
	border-radius: 50%;
	width: 18px;
	height: 18px;
	margin: 2px;
}

.color-cube.orange > div {
	background-color: orange;
}

[fab] {
	position: fixed;
	z-index: 10;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #fc0300;
}

[fab] div {
	color: #fff;
    font-size: 28px;
    margin: 12px 16px;
	text-shadow: none;
}

.platform-ios [fab],
.platform-windows [fab] {
	bottom: 70px;
    right: 25px;
	box-shadow: none;
}

.platform-android [fab] {
	bottom: 25px;
    right: 25px;
	box-shadow: 0 1px 6px #888;
}

.platform-android [fab]:active {
	box-shadow: 0 1px 2px #888;
}

.item-square .item {
	border: 1px dashed #ccc!important;
	margin: 3%;
	width: 44%;
	float: left;
	border-radius: 5px;
}

.smile_icon {
	background: transparent url(../icons/smile_icon.png) no-repeat center center;
}
.tired_icon {
	background: transparent url(../icons/tired_icon.png) no-repeat center center;
}

.justify-list > div {
	padding: 8px 10px;
	border: 1px solid transparent;
	font-size: 15px;
	font-weight: bold;
	color: #444;
}
.justify-list > div.selected {
	color: #ba0200;
	border-color: #ba0200;
	border-radius: 5px;
}

.ion-android-star.selected {
	color: orange!important;
}

.pull-right{
	float:right;
}
.pull-left{
	float: left;
}
.color-error{
	color:red !important;
}
.color-info{
	color: blue !important;
}
.color-warning{
	color: darkorange !important;
	white-space: normal;
}

.message-empty {
	padding: 20px; 
	text-align: center; 
	color: #888; 
	font-size: 14px;
}

.m-right20{
	margin-right: 20px;
}

.m-bottom0{
	margin-bottom: 0;
}

.m-top20{
	margin-top: 20px
}

.preferite-park{
	padding: 19px 25px; 
	position: absolute; 
	right: 0; 
	top: 0;
}

.icons-reservation{
	color: #666;
	font-size: 36px;
}

.item .value {
	font-size: 18px; 
	color: #111; 
	margin-top: 12px;
}
.item .bold{
	font-weight: bold;
}
.item .pnr{
	color: #fc0300!important; 
}
.item .brand_model{
	line-height: 30px; 
	font-size: 18px;
}

.item .fuel_value{
	font-size: 13pt; 
	margin-left: 4px;
	color: #fc0300; 
	line-height: 33px;
}
.item .fuel{
	width: 50px; 
	height: 30px; 
	background: transparent url(../icons/fuel_icon.png) no-repeat center center; 
	background-size: auto 100%;
}

.fuel_container{
	display: inline-block; 
	margin-left: 20px; 
	margin-top: 9px;
}