.bar.bar-positive {
    border-color: #ec0300;
    background-color: #fc0300;
    background-image: linear-gradient(0deg, #ec0300, #ec0300 50%, transparent 50%);
}
.bar.bar-positive.bar-footer {
    background-image: linear-gradient(180deg, #ec0300, #ec0300 50%, transparent 50%);
}
.bar-positive .button {
    background-color: #fc0300;
}
.bar-positive .button.active,
.bar-positive .button.activated {
    background-color: #ec0300;
}
.tabs-positive > .tabs,
.tabs.tabs-positive {
    border-color: #ec0300;
    background-color: #fc0300;
    background-image: linear-gradient(0deg, #ec0300, #ec0300 50%, transparent 50%);
}
.tabs-positive > .tabs .tab-item .badge,
.tabs.tabs-positive .tab-item .badge {
    color: #fc0300;
}
.tabs-striped.tabs-positive .tabs {
    background-color: #fc0300;
}
.tabs-striped.tabs-background-positive .tabs {
    background-color: #fc0300;
}
.tabs-striped.tabs-color-positive .tab-item.tab-item-active,
.tabs-striped.tabs-color-positive .tab-item.active,
.tabs-striped.tabs-color-positive .tab-item.activated {
    color: #fc0300;
    border: 0 solid #fc0300;
}
.tabs-color-positive .tab-item.tab-item-active,
.tabs-color-positive .tab-item.active,
.tabs-color-positive .tab-item.activated {
    color: #fc0300;
    border: 0 solid #fc0300;
}
ion-tabs.tabs-color-active-positive .tab-item {
    color: #444;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #fc0300;
}
.tab-item.tab-item-active.tab-item-positive,
.tab-item.active.tab-item-positive,
.tab-item.activated.tab-item-positive {
    color: #fc0300;
}
.item-complex.item-positive > .item-content {
    border-color: #ec0300;
    background-color: #fc0300;
}
.item-complex.item-positive > .item-content.active,
.item-complex.item-positive > .item-content:active {
    border-color: #ec0300;
    background-color: #ec0300;
}
.item-complex.item-positive > .item-content.active.item-complex > .item-content,
.item-complex.item-positive > .item-content:active.item-complex > .item-content {
    border-color: #ec0300;
    background-color: #ec0300;
}
.tabs .tab-item .badge.badge-positive,
.badge.badge-positive {
    background-color: #fc0300;
}
.toggle.toggle-positive input:checked + .track {
    border-color: #fc0300;
    background-color: #fc0300;
}
.toggle-small .toggle-positive input:checked + .track {
    background-color: rgba(239, 71, 58, 0.5);
}
.toggle-small .toggle-positive input:checked + .track .handle {
    background-color: #fc0300;
}
.button.button-positive {
    border-color: transparent;
    background-color: #fc0300;
}
.button.button-positive.active,
.button.button-positive.activated {
    background-color: #ec0300;
}
.button.button-positive.button-clear {
    color: #fc0300;
}
.button.button-positive.button-outline {
    border-color: #fc0300;
    color: #fc0300;
}
.button.button-positive.button-outline.active,
.button.button-positive.button-outline.activated {
    background-color: #fc0300;
}
.positive,
a.positive {
    color: #fc0300;
}
.positive-bg {
    background-color: #fc0300;
}
.positive-border {
    border-color: #ec0300;
}

.tab-item-active,
.tab-item.activated {
	color: #fc0300!important;
	border-bottom-color: #fc0300!important;
}
.color-cube {
	display: inline-block;
	border: 1px solid #aaa;
	border-radius: 50%;
}

.color-cube > div {
	border-radius: 50%;
	width: 18px;
	height: 18px;
	margin: 2px;
}

.color-cube.orange > div {
	background-color: orange;
}

[fab] {
	position: fixed;
	z-index: 10;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #fc0300;
}

[fab] div {
	color: #fff;
    font-size: 28px;
    margin: 12px 16px;
	text-shadow: none;
}

.platform-ios [fab],
.platform-windows [fab] {
	bottom: 70px;
    right: 25px;
	box-shadow: none;
}

.platform-android [fab] {
	bottom: 25px;
    right: 25px;
	box-shadow: 0 1px 6px #888;
}

.platform-android [fab]:active {
	box-shadow: 0 1px 2px #888;
}

.item-square .item {
	border: 1px dashed #ccc!important;
	margin: 3%;
	width: 44%;
	float: left;
	border-radius: 5px;
}

.smile_icon {
	background: transparent url(../icons/smile_icon.png) no-repeat center center;
}
.tired_icon {
	background: transparent url(../icons/tired_icon.png) no-repeat center center;
}

.justify-list > div {
	padding: 8px 10px;
	border: 1px solid transparent;
	font-size: 15px;
	font-weight: bold;
	color: #444;
}
.justify-list > div.selected {
	color: #ba0200;
	border-color: #ba0200;
	border-radius: 5px;
}

.ion-android-star.selected {
	color: orange!important;
}
.password{
    -webkit-text-security: disc;
}
.pull-right{
	float:right;
}
.pull-left{
	float: left;
}
.color-error{
	color:red !important;
}
.color-info{
	color: blue !important;
}
.color-warning{
	color: darkorange !important;
	white-space: normal;
}

.message-empty {
	padding: 20px; 
	text-align: center; 
	color: #888; 
	font-size: 14px;
}

.m-right20{
	margin-right: 20px;
}

.m-bottom0{
	margin-bottom: 0;
}

.m-top20{
	margin-top: 20px
}

.preferite-park{
	padding: 19px 25px; 
	position: absolute; 
	right: 0; 
	top: 0;
}

.icons-reservation{
	color: #666;
	font-size: 36px;
}

.item .value {
	font-size: 18px; 
	color: #111; 
	margin-top: 12px;
}
.item .bold{
	font-weight: bold;
}
.item .pnr{
	color: #fc0300!important; 
}
.item .brand_model{
	line-height: 30px; 
	font-size: 18px;
}

.item .fuel_value{
	font-size: 13pt; 
	margin-left: 4px;
	color: #fc0300; 
	line-height: 33px;
}
.item .fuel{
	width: 50px; 
	height: 30px; 
	background: transparent url(../icons/fuel_icon.png) no-repeat center center; 
	background-size: auto 100%;
}

.fuel_container{
	display: inline-block; 
	margin-left: 20px; 
	margin-top: 9px;
}




.welcome-view {
  background-color: #fcfcfc; }
  .welcome-view ion-content {
    top: 0px !important; }
  .welcome-view .multi-bg-outer {
    z-index: 0; }
  .welcome-view .top-content {
    height: 56%; }
    .welcome-view .top-content .app-copy {
      text-align: center;
      padding-top: 10vh; }
    .welcome-view .top-content .app-logo {
      font-size: 50px;
      font-family: cursive;
      font-weight: 600;
      font-style: italic;
      color: #FFFFFF; }
    .welcome-view .top-content .app-tagline {
      font-size: 16px;
      margin-top: 20px;
      color: #fff }
  .welcome-view .bottom-content {
    height: 44%;
    margin: 0px; }
		 .welcome-view .bottom-content .forgot-account {
      margin-bottom: 20px; }
			.welcome-view .bottom-content .enter-account {
      margin: 0px 10%; 
			background: #ba0200;
    	color: #fff;}
			.welcome-view .bottom-content .enter-account:active {
      opacity: 0.6}
		.welcome-view .bottom-content .forgot-password {
      color: #fff;
      font-size: 16px; }
    .welcome-view .bottom-content .legal-notice {
      color: #fff;
      margin: 10px 12vw;
      text-align: center; }
      .welcome-view .bottom-content .legal-notice a {
        text-decoration: none;
        font-weight: 600;
        color: #fff; }
				 .welcome-view .bottom-content .legal-notice a:active {
        opacity: 0.6 }


.multi-bg-outer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2; }
  .multi-bg-outer.finish-loading {
    background-color: transparent; }
  .multi-bg-outer .bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fc0300;
    z-index: -1;
    opacity: 1; }
  .multi-bg-outer .multi-bg {
    display: none; }

.button.button-stable {
    background-color: #BDBDBD;
    color: #fff!important;
}

.button.button-stable.active,
.button.button-stable.activated {
    background-color: #9E9E9E;
    color: #fff!important;
}

.button.button-energized {
    background-color: #FFA000;
}

.button.button-energized.active,
.button.button-energized.activated {
    background-color: #FF8F00;
}

.energized, a.energized {
    color: #FF8F00; 
}

.platform-android .action-sheet-backdrop.active {
background-color: rgba(0, 0, 0, 0.1); }
    .platform-android .action-sheet {
align-content: center;
margin:auto;
max-width: 96vw;
border-radius: 5px;
/*margin: 0;*/
margin-bottom: 10px;}
    .platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
text-align: left;
/*border-color: #e2e2e2;*/
font-size: 16px;
color: inherit;}
    .platform-android .action-sheet .action-sheet-title {
font-size: 14px;
padding: 16px;
color: #666; }
    .platform-android .action-sheet .button {
border-color: #e2e2e2;
padding-left: 16px;
color: #666;
    }
    .platform-android .action-sheet .button.destructive {
color: red;
    }
    .platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
background: #e8e8e8; }
    .platform-android .action-sheet-group {
/*margin: 0;*/
border-radius: 0;
background-color: #fafafa; }
    .platform-android .action-sheet-cancel {
display: none;
    }
.platform-android .action-sheet-has-icons .button {
    padding-left: 56px; 
}

.platform-android .action-sheet-cancel {
    display: block !important;
}

.modal{
    top: 0 ;
    bottom: 0 ; 
    left: 0 ;
    right: 0 ;
    width: 100% ;
}

.my-list {
    list-style-type: disc;
    font-size: 13px;
    margin-left: 25px;
    color: #666;
}

.m-top5{
    margin-top: 10px;
}

.elecric-icon{
    font-size: 32px;
    color: #ff0000;
}


.service-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75)
}

.item-avatar.fix-item img {
    min-width: 60px;
    min-height: 60px;
    top: 5px;
    left: 10px;
}

.item.item-toggle.custom {
    font-weight: 600;
    white-space: inherit;
    color: #f79600;
}

.item.item-toggle.custom .toggle {
    top: 15px
}

.toggle.toggle-secondary input:checked + .track {
    border-color: #cfcf00;
    background-color: #cfcf00;
}

.item.park-item {
    min-height: 90px;
}

.item.date-item {
    min-height: 80px;
}

.sticky-footer {
    position: sticky;
    z-index: 1000;
    background: #fff;
    border-top: 1px solid #ddd;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.footer-fixed {
    position: fixed;
    z-index: 1000;
    background: #fff;
    border-top: 1px solid #ddd;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.mb80{
    margin-bottom: 80px;
}

.item.subscription img.icon{
    float: right;
    width: 60px;
}

.item.subscription p{
    width: 60%;
}

.item.subscription h2{
    width: 60%;
}

.price {
    color: #ba0200!important;
    float: right;
}


.item .brand_model{
	line-height: 20px;
    font-size: 15px;
    white-space: initial;
}



.typologie {
    padding: 20px;
    color: #666;
}

.first {
    border-radius: 10px 10px 0px 0px;
}

.last {
    border-radius: 0px 0px 10px 10px;
}

.m-bottom-10 {
    margin-bottom: 10px
}

.item-checked {
    background-color: #f7f7f7;
}

.picklist .popup{
    width: 80%;
}

.info .popup{
    width: 90%
}

.item-disabled {
    background-color: #f5f5f5;
}

.plafond-container {
    padding: 30px;
    line-height: 0px;
    text-align: center;
}

.plafond-container .p {
    color: #929292;
    font-size: 17px;
}

.list-scrollable .list {
    overflow-y: scroll;
    height: 100%;
    border-top: 1px solid #ddd
}

input {
    user-select: none;
}


.scroll {
    height: 100%;
}

#mapNew {
    width: 100%;
    height: 100%;
}

.password-input {
    font: small-caption;
    font-size: 16px;
    -webkit-text-security: disc;
}

div.rect_class {
    width: 280px;
    height: 100px;

    /* Make inner part of rectangle transparent */
    background-color: rgba(255, 255, 255, 0);

    /* Center vertically AND horizontally */
    /* position attribute can be fixed too*/
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;

    /* This to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    /* COOL BORDER */
    border-width: 20px;
    border-style: solid;
    /* You need to place border.png into img folder */
    border-image: url(../img/border.png) 50 round;

    /* SHADOW EFFECT darkens everything outside rectangle */
    box-shadow: 0 0 500px 5000px rgba(0, 0, 0, 0.4);
}

img.btn_class {
    width: 75px;
    height: 75px;

    /* Center horizontally */
    /* position attribute can be fixed too*/
    position: absolute;
    margin: auto;
}

img.flash_class {
    top: 20px; right: 20px;
}

img.take_pic_class {
    bottom: 20px;
    left: 0px; right: 0px;
}