.bar.bar-positive {
    border-color: #ec0300;
    background-color: #fc0300;
    background-image: linear-gradient(0deg, #ec0300, #ec0300 50%, transparent 50%);
}
.bar.bar-positive.bar-footer {
    background-image: linear-gradient(180deg, #ec0300, #ec0300 50%, transparent 50%);
}
.bar-positive .button {
    background-color: #fc0300;
}
.bar-positive .button.active,
.bar-positive .button.activated {
    background-color: #ec0300;
}
.tabs-positive > .tabs,
.tabs.tabs-positive {
    border-color: #ec0300;
    background-color: #fc0300;
    background-image: linear-gradient(0deg, #ec0300, #ec0300 50%, transparent 50%);
}
.tabs-positive > .tabs .tab-item .badge,
.tabs.tabs-positive .tab-item .badge {
    color: #fc0300;
}
.tabs-striped.tabs-positive .tabs {
    background-color: #fc0300;
}
.tabs-striped.tabs-background-positive .tabs {
    background-color: #fc0300;
}
.tabs-striped.tabs-color-positive .tab-item.tab-item-active,
.tabs-striped.tabs-color-positive .tab-item.active,
.tabs-striped.tabs-color-positive .tab-item.activated {
    color: #fc0300;
    border: 0 solid #fc0300;
}
.tabs-color-positive .tab-item.tab-item-active,
.tabs-color-positive .tab-item.active,
.tabs-color-positive .tab-item.activated {
    color: #fc0300;
    border: 0 solid #fc0300;
}
ion-tabs.tabs-color-active-positive .tab-item {
    color: #444;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #fc0300;
}
.tab-item.tab-item-active.tab-item-positive,
.tab-item.active.tab-item-positive,
.tab-item.activated.tab-item-positive {
    color: #fc0300;
}
.item-complex.item-positive > .item-content {
    border-color: #ec0300;
    background-color: #fc0300;
}
.item-complex.item-positive > .item-content.active,
.item-complex.item-positive > .item-content:active {
    border-color: #ec0300;
    background-color: #ec0300;
}
.item-complex.item-positive > .item-content.active.item-complex > .item-content,
.item-complex.item-positive > .item-content:active.item-complex > .item-content {
    border-color: #ec0300;
    background-color: #ec0300;
}
.tabs .tab-item .badge.badge-positive,
.badge.badge-positive {
    background-color: #fc0300;
}
.toggle.toggle-positive input:checked + .track {
    border-color: #fc0300;
    background-color: #fc0300;
}
.toggle-small .toggle-positive input:checked + .track {
    background-color: rgba(239, 71, 58, 0.5);
}
.toggle-small .toggle-positive input:checked + .track .handle {
    background-color: #fc0300;
}
.button.button-positive {
    border-color: transparent;
    background-color: #fc0300;
}
.button.button-positive.active,
.button.button-positive.activated {
    background-color: #ec0300;
}
.button.button-positive.button-clear {
    color: #fc0300;
}
.button.button-positive.button-outline {
    border-color: #fc0300;
    color: #fc0300;
}
.button.button-positive.button-outline.active,
.button.button-positive.button-outline.activated {
    background-color: #fc0300;
}
.positive,
a.positive {
    color: #fc0300;
}
.positive-bg {
    background-color: #fc0300;
}
.positive-border {
    border-color: #ec0300;
}

.tab-item-active,
.tab-item.activated {
	color: #fc0300!important;
	border-bottom-color: #fc0300!important;
}
.color-cube {
	display: inline-block;
	border: 1px solid #aaa;
	border-radius: 50%;
}

.color-cube > div {
	border-radius: 50%;
	width: 18px;
	height: 18px;
	margin: 2px;
}

.color-cube.orange > div {
	background-color: orange;
}

[fab] {
	position: fixed;
	z-index: 10;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #fc0300;
}

[fab] div {
	color: #fff;
    font-size: 28px;
    margin: 12px 16px;
	text-shadow: none;
}

.platform-ios [fab],
.platform-windows [fab] {
	bottom: 70px;
    right: 25px;
	box-shadow: none;
}

.platform-android [fab] {
	bottom: 25px;
    right: 25px;
	box-shadow: 0 1px 6px #888;
}

.platform-android [fab]:active {
	box-shadow: 0 1px 2px #888;
}

.item-square .item {
	border: 1px dashed #ccc!important;
	margin: 3%;
	width: 44%;
	float: left;
	border-radius: 5px;
}

.smile_icon {
	background: transparent url(../icons/smile_icon.png) no-repeat center center;
}
.tired_icon {
	background: transparent url(../icons/tired_icon.png) no-repeat center center;
}

.justify-list > div {
	padding: 8px 10px;
	border: 1px solid transparent;
	font-size: 15px;
	font-weight: bold;
	color: #444;
}
.justify-list > div.selected {
	color: #ba0200;
	border-color: #ba0200;
	border-radius: 5px;
}

.ion-android-star.selected {
	color: orange!important;
}

.pull-right{
	float:right;
}
.pull-left{
	float: left;
}
.color-error{
	color:red !important;
}
.color-info{
	color: blue !important;
}
.color-warning{
	color: darkorange !important;
	white-space: normal;
}

.message-empty {
	padding: 20px; 
	text-align: center; 
	color: #888; 
	font-size: 14px;
}

.m-right20{
	margin-right: 20px;
}

.m-bottom0{
	margin-bottom: 0;
}

.m-top20{
	margin-top: 20px
}

.preferite-park{
	padding: 19px 25px; 
	position: absolute; 
	right: 0; 
	top: 0;
}

.icons-reservation{
	color: #666;
	font-size: 36px;
}

.item .value {
	font-size: 18px; 
	color: #111; 
	margin-top: 12px;
}
.item .bold{
	font-weight: bold;
}
.item .pnr{
	color: #fc0300!important; 
}
.item .brand_model{
	line-height: 30px; 
	font-size: 18px;
}

.item .fuel_value{
	font-size: 13pt; 
	margin-left: 4px;
	color: #fc0300; 
	line-height: 33px;
}
.item .fuel{
	width: 50px; 
	height: 30px; 
	background: transparent url(../icons/fuel_icon.png) no-repeat center center; 
	background-size: auto 100%;
}

.fuel_container{
	display: inline-block; 
	margin-left: 20px; 
	margin-top: 9px;
}




.welcome-view {
  background-color: #fcfcfc; }
  .welcome-view ion-content {
    top: 0px !important; }
  .welcome-view .multi-bg-outer {
    z-index: 0; }
  .welcome-view .top-content {
    height: 56%; }
    .welcome-view .top-content .app-copy {
      text-align: center;
      padding-top: 10vh; }
    .welcome-view .top-content .app-logo {
      font-size: 50px;
      font-family: cursive;
      font-weight: 600;
      font-style: italic;
      color: #FFFFFF; }
    .welcome-view .top-content .app-tagline {
      font-size: 16px;
      margin-top: 20px;
      color: #fff }
  .welcome-view .bottom-content {
    height: 44%;
    margin: 0px; }
		 .welcome-view .bottom-content .forgot-account {
      margin-bottom: 20px; }
			.welcome-view .bottom-content .enter-account {
      margin: 0px 10%; 
			background: #ba0200;
    	color: #fff;}
			.welcome-view .bottom-content .enter-account:active {
      opacity: 0.6}
		.welcome-view .bottom-content .forgot-password {
      color: #fff;
      font-size: 16px; }
    .welcome-view .bottom-content .legal-notice {
      color: #fff;
      margin: 10px 12vw;
      text-align: center; }
      .welcome-view .bottom-content .legal-notice a {
        text-decoration: none;
        font-weight: 600;
        color: #fff; }
				 .welcome-view .bottom-content .legal-notice a:active {
        opacity: 0.6 }


.multi-bg-outer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2; }
  .multi-bg-outer.finish-loading {
    background-color: transparent; }
  .multi-bg-outer .bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fc0300;
    z-index: -1;
    opacity: 1; }
  .multi-bg-outer .multi-bg {
    display: none; }

.button.button-stable {
    background-color: #e4e4e4;
}