<header class="profile-bg-picture">
</header>
<!-- /header -->

<!-- ==============================================
	 User Section
	 =============================================== -->
<section class="user-section">
  <div class="container">
    <div class="profile-user-box">
      <div class="row">
        <div class="col-sm-6">
          <span class="pull-left m-r-15"><img ng-src="{{userContext.pictureUrl}}" alt="" class="thumb-lg img-circle"></span>
          <div class="media-body">
            <h4 class="m-t-5 m-b-5 ellipsis">{{userContext.firstName}} {{userContext.lastName}}</h4>
            <p class="font-13"> {{userContext.headline}}</p>
            <p class="text-muted m-b-0"><small>California, United States</small></p>
          </div>
          <!-- /media-body -->
        </div>
        <!-- /col-sm-6 -->
        <div class="col-sm-6">
          <div class="text-right">
            <button type="button" class="btn btn-success waves-effect waves-light">
		    <i class="fa fa-user m-r-5"></i> Edit Profile
		   </button>
          </div>
          <!-- /text-right -->
        </div>
        <!-- /col-sm-6 -->
      </div>
      <!-- /row -->
    </div>
    <!--/ profile-user-box -->
  </div>
  <!-- /container -->
</section>
<!-- /section -->

<!-- ==============================================
     Posts Section
     =============================================== -->

<section class="posts-2">
  <div class="container">
    <div class="row">

      <div class="col-lg-3">

        <div class="tbl">
          <div class="tbl-row">
            <div class="tbl-cell">
              <span class="number">100k</span>Followers
            </div>
            <div class="tbl-cell">
              <span class="number">544</span>Following
            </div>
          </div>
        </div>

        <div class="card about-user">
          <div class="card-body">
            <div class="card-block">
              <h4 class="card-title info">About</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <div class="text-left">
                <p class="card-text"><strong>Full Name :</strong> <span class="m-l-15">Amanda Taylor</span></p>
                <p class="card-text"><strong>Mobile :</strong><span class="m-l-15">(+12) 334 5555 723</span></p>
                <p class="card-text"><strong>Website :</strong> <span class="m-l-15">www.themashabrand.com</span></p>
                <p class="card-text"><strong>Location :</strong> <span class="m-l-15">USA</span></p>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-lg-6">

        <div class="tr-section feed">
          <div class="tr-post">
            <div class="entry-header">
              <div class="entry-thumbnail">
                <a href="#"><img class="img-fluid" src="img/blog/8.jpg" alt="Image"></a>
              </div>
              <!-- /entry-thumbnail -->
            </div>
            <!-- /entry-header -->
            <div class="post-content">
              <div class="author-post">
                <a href="#"><img class="img-fluid rounded-circle" src="img/users/8.jpg" alt="Image"></a>
              </div>
              <!-- /author -->
              <div class="entry-meta">
                <ul>
                  <li><a href="#">Danie Thames</a></li>
                  <li>2 months ago</li>
                  <li><i class="fa fa-align-left"></i>&nbsp;8 Min Read</li>
                </ul>
              </div>
              <!-- /.entry-meta -->
              <h2><a href="#" class="entry-title">A new generation of wireless headsets is here</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
              <div class="read-more">
                <div class="feed pull-left">
                  <ul>
                    <li><i class="fa fa-comments"></i>134</li>&nbsp;
                    <li><i class="fa fa-heart-o"></i>45</li>
                  </ul>
                </div>
                <!-- /feed -->
                <div class="continue-reading pull-right">
                  <a href="#">Continue Reading <i class="fa fa-angle-right"></i></a>
                </div>
                <!-- /continue-reading -->
              </div>
              <!-- /read-more -->
            </div>
            <!-- /.post-content -->
          </div>
          <!-- /.tr-post -->
        </div>
        <!-- /.tr-post -->

        <div class="tr-section feed">
          <div class="tr-post">
            <div class="entry-header">
              <div class="entry-thumbnail">
                <a href="#"><img class="img-fluid" src="img/blog/12.jpg" alt="Image"></a>
              </div>
              <!-- /entry-thumbnail -->
            </div>
            <!-- /entry-header -->
            <div class="post-content">
              <div class="author-post">
                <a href="#"><img class="img-fluid rounded-circle" src="img/users/12.jpg" alt="Image"></a>
              </div>
              <!-- /author -->
              <div class="entry-meta">
                <ul>
                  <li><a href="#">Sean Hanity</a></li>
                  <li>10 min ago</li>
                  <li><i class="fa fa-align-left"></i>&nbsp;7 Min Read</li>
                </ul>
              </div>
              <!-- /.entry-meta -->
              <h2><a href="#" class="entry-title">Family values you can teach your children</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
              <div class="read-more">
                <div class="feed pull-left">
                  <ul>
                    <li><i class="fa fa-comments"></i>200</li>&nbsp;
                    <li><i class="fa fa-heart-o"></i>30</li>
                  </ul>
                </div>
                <!-- /feed -->
                <div class="continue-reading pull-right">
                  <a href="#">Continue Reading <i class="fa fa-angle-right"></i></a>
                </div>
                <!-- /continue-reading -->
              </div>
              <!-- /read-more -->
            </div>
            <!-- /.post-content -->
          </div>
          <!-- /.tr-post -->
        </div>
        <!-- /.tr-post -->

        <div class="tr-section feed">
          <div class="tr-post">
            <div class="entry-header">
              <div class="entry-thumbnail">
                <a href="#"><img class="img-fluid" src="img/blog/10.jpg" alt="Image"></a>
              </div>
              <!-- /entry-thumbnail -->
            </div>
            <!-- /entry-header -->
            <div class="post-content">
              <div class="author-post">
                <a href="#"><img class="img-fluid rounded-circle" src="img/users/10.jpg" alt="Image"></a>
              </div>
              <!-- /author -->
              <div class="entry-meta">
                <ul>
                  <li><a href="#">Charles Travis</a></li>
                  <li>20 min ago</li>
                  <li><i class="fa fa-align-left"></i>&nbsp;7 Min Read</li>
                </ul>
              </div>
              <!-- /.entry-meta -->
              <h2><a href="#" class="entry-title">Organize your workflow with the available tech and software</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
              <div class="read-more">
                <div class="feed pull-left">
                  <ul>
                    <li><i class="fa fa-comments"></i>20</li>&nbsp;
                    <li><i class="fa fa-heart-o"></i>3</li>
                  </ul>
                </div>
                <!-- /feed -->
                <div class="continue-reading pull-right">
                  <a href="#">Continue Reading <i class="fa fa-angle-right"></i></a>
                </div>
                <!-- /continue-reading -->
              </div>
              <!-- /read-more -->
            </div>
            <!-- /.post-content -->
          </div>
          <!-- /.tr-post -->
        </div>
        <!-- /.tr-post -->

        <div class="tr-section feed">
          <div class="tr-post">
            <div class="entry-header">
              <div class="entry-thumbnail">
                <a href="#"><img class="img-fluid" src="img/blog/5.jpg" alt="Image"></a>
              </div>
              <!-- /entry-thumbnail -->
            </div>
            <!-- /entry-header -->
            <div class="post-content">
              <div class="author-post">
                <a href="#"><img class="img-fluid rounded-circle" src="img/users/5.jpg" alt="Image"></a>
              </div>
              <!-- /author -->
              <div class="entry-meta">
                <ul>
                  <li><a href="#">Kyle Murray</a></li>
                  <li>2 months ago</li>
                  <li><i class="fa fa-align-left"></i>&nbsp;10 Min Read</li>
                </ul>
              </div>
              <!-- /.entry-meta -->
              <h2><a href="#" class="entry-title">What it’s like to travel to Greece right now</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
              <div class="read-more">
                <div class="feed pull-left">
                  <ul>
                    <li><i class="fa fa-comments"></i>500</li>&nbsp;
                    <li><i class="fa fa-heart-o"></i>143</li>
                  </ul>
                </div>
                <!-- /feed -->
                <div class="continue-reading pull-right">
                  <a href="#">Continue Reading <i class="fa fa-angle-right"></i></a>
                </div>
                <!-- /continue-reading -->
              </div>
              <!-- /read-more -->
            </div>
            <!-- /.post-content -->
          </div>
          <!-- /.tr-post -->
        </div>
        <!-- /.tr-post -->

      </div>
      <div class="col-lg-3">

        <div class="tr-section tr-ad ad-before">
          <a href="#"><img class="img-responsive" src="img/posts/n.gif" alt="Image"></a>
        </div>
        <!-- /.tr-post -->

      </div>

    </div>
  </div>
</section>

<!-- ==============================================
	 More Section
	 =============================================== -->
<section class="more" style="background: #f2f2f2 !important; padding-top: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-md-2">
        <a href="#" class="kafe-btn kafe-btn-default"><i class="fa fa-spinner"></i> Read More</a>
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /container -->
</section>
<!-- /w -->