<ion-modal-view ng-controller="hardDamageCtrl">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Segnalazione {{operationType === "FAULT" ? "Guasto" : "Difetto"}}</h1>
  </ion-header-bar>
  <ion-content padding="true">
    <div ng-show="showCase === 'start'">
      <div class="card">
        <div class="item item-text-wrap">
          <strong class="energized"><i class="icon ion-android-alert"></i>Attenzione</strong>
          <p>Effettuare la Segnalazione Guasto, solo dopo aver constatato, che il veicolo non è in grado di rientrare al parcheggio e necessita di essere portato o trasferito, presso una officina per la riparazione.</p>
          </br>
          <p>La Segnalazione Guasto, pertanto comporta la chiusura della presente corsa, così da poterle consentire di prenotare un altro veicolo se desiderato. Per chiudere la presente corsa, è richiesto di comunicare peraltro:</p>
          </br>
          <ul class="my-list">
            <li>Chilometri Totali indicati sul cruscotto</li>
            <li>Note (utili per la diagnosi del problema)</li>
            <li>Se il veicolo necessiti di essere rimorchiato o meno</li>
          </ul>
          </br>
          <p>Si precisa che una volta segnalato il Guasto il veicolo non sarà più utilizzabile.</p>
        </div>
      </div>
      <div class="row">
        <div class="col col50">
          <button ng-click='close()' class="button button-block button-stable">
         Annulla
       </button>
        </div>
        <div class="col col50">
          <button ng-click="changeShowCase('formDamage')" class="button button-block button-positive">
          Continua
        </button>
        </div>
      </div>
      
    </div>
    <div ng-show="showCase === 'formDamage'">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" ng-model="searchVal" placeholder="Scegli tipologia guasto">
        </label>
      </div>
      <ion-list>
        <ion-radio ng-repeat="option in alertList.damage_type | orderBy: 'text' | filter:searchVal" ng-model="requestParameters.statusD" ng-value="option.code">{{option.text}}</ion-radio>
      </ion-list>
      <div class="row">
        <div class="col col50">
          <button ng-click='close()' class="button button-block button-stable">
         Annulla
       </button>
        </div>
        <div class="col col50">
          <button ng-disabled="!requestParameters.statusD" ng-click="jumpStep()" class="button button-block button-positive">
          Continua
        </button>
        </div>
      </div>
    </div>
    <div ng-show="showCase === 'fromFuel'">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" ng-model="searchVal" placeholder="Selezionare il livello di carburante nel serbatoio">
        </label>
      </div>
      <ion-list>
        <ion-radio ng-repeat="option in alertList.fuel | filter:searchVal" ng-model="requestParameters.fuel" ng-value="option.code">{{option.text}}</ion-radio>
      </ion-list>
      <div class="row">
        <div class="col col50">
          <button ng-click='close()' class="button button-block button-stable">
         Annulla
       </button>
        </div>
        <div class="col col50">
          <button ng-disabled="!requestParameters.fuel" ng-click="changeShowCase('formNotes')" class="button button-block button-positive">
          Continua
        </button>
        </div>
      </div>
    </div>
    <div ng-show="showCase === 'formNotes'">
      <ion-list>
        <label ng-if="operationType === 'FAULT'" class="item item-input item-stacked-label">
          <span class="input-label">Chilometraggio totale sul cruscotto<span class="color-error">*</span></span>
          <input type="number" ng-model="requestParameters.km" placeholder="Digitare il chilometraggio">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Note<span class="color-error">*</span></span>
          <input type="text" ng-model="requestParameters.note" placeholder="Eventuali indicazioni utili">
        </label>
        <ion-toggle ng-if="operationType === 'FAULT'" ng-model="requestParameters.tow" toggle-class="toggle-positive">Veicolo rimorchiato in officina?</ion-toggle>
      </ion-list>
      <div class="row">
        <div class="col col50">
          <button ng-click='close()' class="button button-block button-stable">
         Annulla
       </button>
        </div>
        <div class="col col50">
          <button ng-disabled="(!requestParameters.km && operationType === 'FAULT') || !requestParameters.note" ng-click="submitData()" class="button button-block button-positive">
          Conferma
        </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>