<ion-view title="Dati personali">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                <h2>Anagrafica</h2>
            </ion-item>
            <ion-item>
                <h2>Nome</h2>
                <p>{{userInfo.registry.first_name}}</p>
            </ion-item>
            <ion-item>
                <h2>Cognome</h2>
                <p>{{userInfo.registry.last_name}}</p>
            </ion-item>
            <ion-item>
                <h2>Username</h2>
                <p>{{userInfo.registry.username}}</p>
            </ion-item>
            <ion-item>
                <h2>BadgeID</h2>
                <p>{{userInfo.registry.badge_id}}</p>
            </ion-item>
            <ion-item class="item-divider">
                <h2>Contatti</h2>
            </ion-item>
            <div ng-if="!request">
                <ion-item>
                    <h2>Email</h2>
                    <p>{{userInfo.registry.email}}</p>
                </ion-item>
                <ion-item ng-if="userInfo.registry.mobile_phone">
                    <h2>Cellulare</h2>
                    <p>{{userInfo.registry.mobile_phone}}</p>
                </ion-item>
            </div>
            <div ng-if="request">
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Email<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.email" placeholder="Email">
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Cellulare</span>
                    <input type="text" ng-model="request.mobile_phone" placeholder="Cellulare">
                </ion-item>
            </div>
        </ion-list>
        
        <div class="row" ng-if="!request">
            <div class="col col-80 col-offset-10">
                <button ng-click='edit()' class="button button-block button-positive">
                    Modifica contatti
                </button>
            </div>
        </div>
        <div class="row" ng-show="request">
            <div class="col col-50">
                <button ng-click='undo()' class="button button-block button-stable">
                    Annulla
                </button>
            </div>
            <div class="col col-50">
                <button ng-click='save()' class="button button-block button-positive">
                    Salva
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
