<ion-view title="Contatti">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                <h2>CCS Service Support </h2>
            </ion-item>
            <ion-item>
                Email HelpDeck 1° Livello
                <span class="item-note">
                    ccs-support@ccsitalia.it
                </span>
            </ion-item>
            <ion-item>
                Telefono
                <span class="item-note">
                    +390693923232
                </span>
            </ion-item>
            <ion-item>
                Orari
                <span class="item-note">
                    Lun-Ven 09:00 - 13:00/14:00 - 18:00 
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>