<ion-view title="{{'editPassword.title' | translate}}">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'editPassword.currentPassword' | translate}}<span class="color-error">*</span></span>
                <input type="password" id="oldPassword" ng-model="request.oldPassword">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'editPassword.newPassword' | translate}}<span class="color-error">*</span></span>
                <input type="password" autocapitalize="false" id="newPassword" ng-model="request.newPassword">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'editPassword.repeatPassword' | translate}}<span class="color-error">*</span></span>
                <input type="password" autocapitalize="false" id="confirmedPassword" ng-model="request.confirmedPassword">
            </label>
        </div>
        <div class="row">
            <div class="col col-50"><button ng-click='cancel()' class="button button-block button-stable">{{'editPassword.cancel' | translate}}</button></div>
            <div class="col col-50"><button ng-click='edit()' class="button button-block button-positive">{{'editPassword.edit' | translate}}</button></div>
        </div>
    </ion-content>
</ion-view>