<ion-view title="Modifica Password">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Inserisci password corrente<span class="color-error">*</span></span>
                <input type="password" ng-model="request.oldPassword">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Inserisci password nuova<span class="color-error">*</span></span>
                <input type="password" ng-model="request.newPassword">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Conferma nuova password<span class="color-error">*</span></span>
                <input type="password" ng-model="request.confirmedPassword">
            </label>
        </div>
        <div class="row">
            <div class="col col-50"><button ng-click='cancel()' class="button button-block button-stable">Annulla</button></div>
            <div class="col col-50"><button ng-click='edit()' class="button button-block button-positive">Modifica</button></div>
        </div>
    </ion-content>
</ion-view>