<ion-view title="Modifica Password">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Modifica Password</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Inserisci password vecchia<span class="color-error">*</span></span>
                <input type="password" ng-model="request.oldPassword" placeholder="Inserisci password vecchia">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Inserisci password nuova<span class="color-error">*</span></span>
                <input type="password" ng-model="request.newPassword" placeholder="Inserisci password nuova">
            </label>
                        <label class="item item-input item-floating-label">
                <span class="input-label">Conferma nuova password<span class="color-error">*</span></span>
                <input type="password" ng-model="request.confirmedPassword" placeholder="Conferma nuova password">
            </label>
        </div>


        <div class="row">
            <div class="col col-50"><button ng-click='cancel()' class="button button-block button-stable">Annulla</button></div>
            <div class="col col-50"><button ng-click='edit()' class="button button-block button-positive">Modifica</button></div>
        </div>
    </ion-content>
</ion-view>