<ion-view view-title="{{locale.account.title}}">
  <ion-content>
    <ion-list>
      <ion-item>
        {{ locale.account.client }}
        <h2 style='float: right; font-weight: bold;'>{{ selectedClient.text }}</h2>
      </ion-item>
      <ion-toggle ng-model="hasPicture" ng-click='setHasPicture()' toggle-class="toggle-positive">
          <h2>{{ locale.account.check1 }}</h2>
          <p style='white-space: normal;'>{{ locale.account.check1_descr }}</p>
      </ion-toggle>
       <ion-item class="item-icon-right" href="#/client-details">
        Dati personali
        <i class="icon ion-ios-person-outline"></i>
      </ion-item>
      <!--<ion-item class="item-icon-right" href="#/edit-password">
        Modifica password
        <i class="icon ion-ios-color-wand-outline"></i>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
 