<ion-view view-title="{{'settings.title' | translate}}">
  <ion-content>
    <ion-list>
      <ion-item>
          {{'settings.client' | translate}}
        <h2 ng-click="deleteClienteContext()" style='float: right; font-weight: bold;'>{{ selectedClient.text }}</h2>
      </ion-item>
      <ion-toggle ng-model="hasPicture" ng-click='setHasPicture()' toggle-class="toggle-positive">
          <h2>{{'settings.check1' | translate}} </h2>
          <p style='white-space: normal;'>{{'settings.check1_descr' | translate}}</p>
      </ion-toggle>
       <ion-item class="item-icon-right" href="#/client-details">
        {{'settings.personalData' | translate}}
        <i class="icon ion-ios-person-outline"></i>
      </ion-item>
      <!--<ion-item class="item-icon-right" href="#/edit-password">
        {{'settings.editPassword' | translate}}
        <i class="icon ion-ios-color-wand-outline"></i>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
 