<div class="app-activation-container">
    <div class="step">
        {{ 'commons.process01' | translate}} {{ 'commons.process02' | translate}}
    </div>
    <div class="button-container" style=" margin-bottom: 25px;">
        <span class="label">
            {{ 'commons.process04' | translate}} 
        </span>
        <button class="button button-block" ng-click="changeStatus('publicChoose')">
            {{ 'commons.public' | translate}} 
        </button>
    </div>

    <div class="button-container">
        <span class="label">
            {{ 'commons.employee' | translate}} 
        </span>
        <button class="button button-block" ng-click="changeStatus('companyCode')">
            {{ 'commons.corporate' | translate}} 
        </button>
    </div>
    
</div>