<div class="app-activation-container">
    <div class="step">
        App Activation process (1 of 2) Choose your car sharing profile
    </div>
    <div class="button-container">
        <span class="label">
            I am an individual
        </span>
        <button class="button button-block" ng-click="changeStatus('publicChoose')">
            Public car Sharing
        </button>
    </div>

    <div class="button-container">
        <span class="label">
            i am an employee
        </span>
        <button class="button button-block" ng-click="changeStatus('companyCode')">
            corporate car sharing
        </button>
    </div>
    
</div>