<div ng-if="!recorveryPassword" class="form-container">
    <!-- <a class="forgot-password button button-clear button-block" ng-click="newAccount()">
        {{ 'Registrati' | translate}}
    </a> -->
    <form style="width:80%;margin: 20px auto;">
        <label class="item item-input" style="border-radius: 5px 5px 0px 0px;">
            <span class="input-label">{{ 'login.username' | translate}}</span>
            <input type="text" ng-change="userFix()" name="user-input" id="user-input" ng-model="request.userid"
                placeholder="{{ 'login.username' | translate}}">
        </label>
        <label class="item item-input" style="border-radius: 0px 0px 5px 5px;">
            <span class="input-label">{{ 'login.password' | translate}}</span>
            <input type="password" id="password-input" ng-model="request.password"
                placeholder="{{ 'login.password' | translate}}">
        </label>
    </form>
    <a class="button button-block enter-account" ng-click="login()">
        {{ 'login.login' | translate}}
    </a>

    <a class="forgot-password button button-clear button-block" ng-click="recorveryPasswordOn()">
        {{ 'login.forgotPassword' | translate}}
    </a>
</div>
<div ng-if="recorveryPassword" class="form-container">
    <form style="width:80%;margin: 20px auto;">
        <label class="item item-input" style="border-radius: 5px;">
            <span class="input-label">{{ 'login.email' | translate}}</span>
            <input type="email" autocapitalize="none" id="email-input" ng-model="request.email">
        </label>
    </form>
    <a class="button button-block enter-account" ng-click="callRecoverService()">
        {{ 'login.retrievePassword' | translate}}
    </a>
    <a class="forgot-password button button-clear button-block" ng-click="recorveryPasswordOn()">
        {{ 'login.haveAccount' | translate}}
    </a>
</div>