<!DOCTYPE html>
<html>

<head class="head">
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet"> 
  <script src="locale/angular-locale_it.js"></script>

  <script src="lib/bluebird/js/browser/bluebird.min.js"></script>
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/cmobi-ionic-cloud/dist/bundle/ionic.cloud.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUwH3aGBFHp6iKbHPRS3TXCfhqEncM8GA" async defer></script>
  <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>

  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/moment/min/moment-with-locales.min.js"></script>
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="js/utility.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/WebService.js"></script>
  <script src="js/services/ScriptServices.js"></script>
  <script src="js/services/InfoFactories.js"></script>
  <script src="js/services/PopupService.js"></script>
  <script src="js/services/ManipolationServices.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers/controllerApp.js"></script>
  <script src="js/controllers/controllerLogin.js"></script>
  <script src="js/controllers/controllerCar.js"></script>
  <script src="js/controllers/controllerSettings.js"></script>
  <script src="js/controllers/controllerMap.js"></script>
  <script src="js/controllers/controllerParking.js"></script>
  <script src="js/controllers/controllerResume.js"></script>
  <script src="js/controllers/controllerBookings.js"></script>
  <script src="js/controllers/controllerConfimPrenotation.js"></script>
  <script src="js/controllers/controllerMenu.js"></script>
  <script src="js/controllers/controllerTab.js"></script>
  <script src="js/controllers/controllerEditPassword.js"></script>
  <script src="js/controllers/controllerContacts.js"></script>
  <script src="js/controllers/controllerClientDetails.js"></script>
  <script src="js/controllers/controllerSos.js"></script>
</head>

<body ng-app="starter" animation="slide-left-right-ios7" ng-controller="AppCtrl">
  <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear" ng-class="{'ion-ios-home-outline':currentState === 'contacts', 'ion-ios-telephone-outline':currentState !=='contacts'}" ng-click="changeStateContacts()"> </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
      <ion-header-bar class="bar-positive">
        <div class="title">Profilo Utente</div>
      </ion-header-bar>
      <ion-content ng-if="currentState !== 'login'" ng-controller="MenuCtrl" padding="false" class="side-menu-left has-header ">
        <div ng-include="'templates/left-menu.html'"></div>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</body>

</html>