<!DOCTYPE html>
<html>

<head class="head">
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/ionicons.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet"> 
  <link href="css/stylesheet.css" rel="stylesheet"> 
  <script src="locale/angular-locale_it.js"></script>
  <script src="locale/angular-locale_en.js"></script>
  <script src="locale/angular-locale_ro.js"></script>
  <script src="locale/angular-locale_hr.js"></script>
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUwH3aGBFHp6iKbHPRS3TXCfhqEncM8GA" async defer></script>
  <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>

  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/moment/min/moment-with-locales.min.js"></script>
  <script src="lib/angular-moment/angular-moment.min.js"></script>
  <script src="lib/angular-translate/angular-translate.min.js"></script>
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/angular-uuid/uuid.min.js"></script>
  <script src="js/utility.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/ScriptServices.js"></script>
  <script src="js/services/LanguageService.js"></script>
  <script src="js/services/InfoFactories.js"></script>
  <script src="js/services/ArrayServices.js"></script>
  <script src="js/services/PopupService.js"></script>
  <script src="js/services/bluetooth/AndroidBleConnectionservice.js"></script>
  <script src="js/services/bluetooth/IosBleConnectionservice.js"></script>
  <script src="js/services/bluetooth/BluetoothService.js"></script>
  <script src="js/services/bluetooth/UpdateBBService.js"></script>
  <script src="js/services/ManipolationServices.js"></script>
  <script src="js/services/PushEventsService.js"></script>
  <script src="js/services/LocationService.js"></script>
  <script src="js/services/LovServices.js"></script>
  <script src="js/services/RegexService.js"></script>
  <script src="js/services/ReservationService.js"></script>
  <script src="lib/tagged-autogrow/taggedAutogrow.min.js"></script>
  <script src="js/directives/genericDirectives.js"></script>
  <script src="js/directives/ccs-01-action-sheet/actionSheet.js"></script>
  <script src="js/controllers/controllerApp.js"></script>
  <script src="js/controllers/controllerLogin.js"></script>
  <script src="js/controllers/controllerCar.js"></script>
  <script src="js/controllers/controllerBle.js"></script>
  <script src="js/controllers/controllerSettings.js"></script>
  <script src="js/controllers/controllerPlafond.js"></script>
  <script src="js/controllers/controllerMap.js"></script>
  <script src="js/controllers/controllerParking.js"></script>
  <script src="js/controllers/controllerResume.js"></script>
  <script src="js/controllers/controllerBookings.js"></script>
  <script src="js/controllers/controllerLicenseEdit.js"></script>
  <script src="js/controllers/controllerConfimPrenotation.js"></script>
  <script src="js/controllers/controllerMenu.js"></script>
  <script src="js/controllers/controllerTab.js"></script>
  <script src="js/controllers/controllerEditPassword.js"></script>
  <script src="js/controllers/controllerContacts.js"></script>
  <script src="js/controllers/controllerClientDetails.js"></script>
  <script src="js/controllers/controllerSos.js"></script>
  <script src="js/controllers/controllerPromo.js"></script>
  <script src="js/controllers/controllerHelp.js"></script>
  <script src="js/controllers/controllerHistory.js"></script>
  <script src="js/controllers/controllerNotifications.js"></script>
  <script src="js/controllers/reservation/controllerConfirm.js"></script>
  <script src="js/controllers/reservation/controllerPark.js"></script>
  <script src="js/controllers/reservation/controllerVehicle.js"></script>
  <script src="js/controllers/reservation/controllerReserve.js"></script>
  <script src="js/controllers/controllerCompleteRegistration.js"></script>
  <script src="js/controllers/reservation/controllerSubscriptions.js"></script>
  <script src="js/controllers/controllerRegister.js"></script>
  <script src="js/directives/ccs-01-action-sheet/controllerActionSheet.js"></script>
  <script src="js/directives/ccs-01-action-sheet/controllerHardDamage.js"></script>
  <script src="js/directives/ccs-01-action-sheet/controllerChangeDriver.js"></script>
</head>

<body ng-app="starter" animation="slide-left-right-ios7" ng-controller="AppCtrl">
  <ion-side-menus enable-menu-with-back-views="true" data-componentid="side-menu21">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button ng-if="currentState !=='completeRegistration'" class="button button-icon button-clear" ng-class="{'ion-ios-home-outline':currentState === 'contacts', 'ion-ios-telephone-outline':currentState !=='contacts'}" ng-click="changeStateContacts()"> </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
      <ion-header-bar class="bar-positive">
        <div class="title">{{ 'leftMenu.menuTitle' | translate}}</div>
      </ion-header-bar>
      <ion-content ng-if="currentState !== 'login'" ng-controller="MenuCtrl" padding="false" class="side-menu-left has-header ">
        <div ng-include="'templates/left-menu.html'"></div>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</body>

</html>