<ion-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{ 'confirmReservation.title' | translate}}</h1>
    </ion-header-bar>
    <ion-content class="mb80">
        <ion-list>
            <ion-item>
                <div class="pull-left m-right20" style="width: 70%" ng-if="selectedService.parkingTypeCode !== 'BT2'">
                    <h2 class="brand_model">{{ selectedCar.brand_model }}</h2>
                    <p>{{ 'bookings.plate' | translate }}</p>
                    <h2>{{ selectedCar.plate }}</h2>
                </div>
                <div class="pull-left m-right20" style="width: 70%" ng-if="selectedService.parkingTypeCode === 'BT2'">
                    <h2 class="brand_model">{{ selectedCar.brand }}</h2>
                    <p>{{ 'vehicle.model' | translate }}</p>
                    <h2>{{ selectedCar.model }}</h2>
                </div>
                <div class="pull-right">
                    <img style="width: 70px" src="{{getService(selectedService.id).icon}}" alt="">
                </div>
            </ion-item>

            <ion-item>
                <div class="pull-left">
                    <h2>{{ 'bookings.get' | translate }}</h2>
                    <p>{{ selectedPark.parking_name }}</p>
                </div>
                <p class="pull-right value">{{ dateTimeFrom | date:'dd/MM/yyyy HH:mm' }}</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="pull-left">
                    <h2>{{ 'bookings.set' | translate }}</h2>
                    <p>{{ (selectedParkB || selectedPark).parking_name}}</p>
                </div>
                <p class="pull-right value">{{ dateTimeTo | date:'dd/MM/yyyy HH:mm' }}</p>
            </ion-item>
            <div class="item" ng-show="selectedTarif.value.text">
                <div class="pull-left m-right20">
                    <h2>{{ 'bookings.tarif' | translate }}</h2>
                    <p class="bold">{{selectedTarif.value.text}}</p>
                </div>
                <div class="pull-right">
                    <h2>{{ 'bookings.price' | translate }}</h2>
                    <p class="bold price">{{selectedCar.importoPresunto | currency: '€ '}}</p>
                </div>
            </div>
            <ion-item ng-show="selectedClient.cc && selectedService.parkingTypeCode !== 'BT2'"">
                <div class="pull-left">
                    <h2>{{ 'confirmReservation.cc' | translate}}</h2>
                </div>
                <div class="pull-right">
                    <h2 class="bold">{{ cc ? 'commons.yes': 'commons.no' | translate}}</h2>
                </div>
            </ion-item>
            <ion-item ng-show="selectedClient.telepass && selectedService.parkingTypeCode !== 'BT2'">
                <div class="pull-left">
                    <h2>{{ 'confirmReservation.telepass' | translate}}</h2>
                </div>
                <div class="pull-right">
                    <h2 class="bold">{{ telepass ? 'commons.yes' : 'commons.no' | translate}}</h2>
                </div>
            </ion-item>
            <ion-item ng-show='selectedClient.justifiedUse && selectedService.parkingTypeCode !== "BT2"'>
                <div style='overflow: auto;'>
                    <div class="date-select-label" style='margin-bottom: 10px;'>{{ selectedClient.lbljustification }}</div>
                    <div class='justify-list' style='font-size: 14pt;'>
                        <div ng-repeat='justify in justifyList' ng-click='selectJustify($index, justify)' class="{{ justify.selected ? 'selected' : ''}}">{{
                            justify.text }}</div>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-show='selectedService.parkingTypeCode !== "BT2"'>
                <div class="date-select-label" style='margin-bottom: 10px;'>{{ selectedClient.lbldestination }}</div>
                <div style='font-size: 14pt; margin-bottom: 10px;'>
                    <input class='place_val' type='text' style='padding: 10px; width: 100%; border: 1px solid #ccc; border-radius: 5px; -webkit-box-sizing: border-box;‌​ -moz-box-sizing: border-box; box-sizing: border-box;' />
                </div>
            </ion-item>

            <!-- <ion-item ng-show="selectedClient.cc">
                <div class="pull-left">
                    <p>{{ 'confirmReservation.cc' | translate}}</p>
                </div>
                <div class="pull-right">
                    <h2 style='font-weight: bold;'>{{ hasCC ? 'commons.yes': 'commons.no' | translate}}</h2>
                </div>
            </ion-item>
            <ion-item ng-show="selectedClient.telepass">
                <div class="pull-left">
                    <p>{{ 'confirmReservation.telepass' | translate}}</p>
                </div>
                <div class="pull-right">
                    <h2 style='font-weight: bold;'>{{ hasTelepass ? 'commons.yes' : 'commons.no' | translate}}</h2>
                </div>
            </ion-item> -->

        </ion-list>

    </ion-content>
    <div class="row footer-fixed">
        <div class="col col-50"><button ng-click='cancel()' class="button button-block button-balanced">{{
                'commons.cancel' | translate}}</button></div>
        <div class="col col-50"><button ng-click='confirm()' class="button button-block button-positive">{{
                'confirmReservation.confirm' | translate}}</button></div>
    </div>

</ion-view>