<ion-view view-title="{{ parkDirection === 'B' ? 'Parcheggio riconsegna' : 'Parcheggio ritiro'  | translate }}">
        <ion-nav-buttons side="left">
                <button class="button button-clear" ng-click="back()" >
                    <i class="icon ion-ios-arrow-back"> 
                            {{ 'commons.back' | translate}}
                    </i>
                </button>
            </ion-nav-buttons>
    <ion-content class="mb80">
        <ion-refresher pulling-text="{{'commons.refresh' | translate}}" on-refresh="refreshParks()">
        </ion-refresher>
        <div class="bar bar-header item-input-inset" ng-show="parkingList.length > 1">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="searchVal" placeholder="{{ 'parking.placeholderSearch' | translate }}">
            </label>
        </div>
        <p ng-if='parkingList.length==0 && !loading' class="message-empty">{{ 'parking.noparking' | translate }}</p>
        <ul class="list">
            <li class="item item-toggle custom" ng-show="(!parkDirection || parkDirection === 'A') && (selectedService.parkingTypeCode === 'BT2' || selectedService.parkingTypeCode === 'BT3') ">
                {{ 'parking.pickupDirection' | translate }}
                <label class="toggle toggle-secondary">
                    <input type="checkbox" ng-model="preselectPark.value">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li ng-repeat="parking in parkingList | orderBy: 'parking_name'  | filter:searchVal" ng-click='selectParking(parking)'
                class="item" style='overflow: auto;'>
                <div>
                    <h2>{{ parking.parking_name }}</h2>
                    <p>{{ parking.address }}, {{ parking.city }}</p>
                </div>
            </li>
        </ul>

        
    </ion-content>
    <div class="row footer-fixed">
            <div class="col col-80 col-offset-10">
                <button ng-click="cancel();" class="button button-block button-balanced">
                    {{ 'commons.cancel' | translate}}
                </button>
            </div>
        </div>
</ion-view>