<ion-view view-title="{{ 'parking.title' | translate }}">
    <ion-content>
        <ion-refresher pulling-text="{{'commons.refresh' | translate}}" on-refresh="refreshParks()">
        </ion-refresher>
        <div class="bar bar-header item-input-inset" ng-show="parkingList.length > 1">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="searchVal" placeholder="{{ 'parking.placeholderSearch' | translate }}">
            </label>
        </div>
        <p ng-if='parkingList.length==0 && !loading' class="message-empty">{{ 'parking.noparking' | translate }}</p>

        <ul class="list">
            <li class="item item-toggle custom">
                Parcheggio di ritiro diverso da quello di riconsegna?
                <label class="toggle toggle-secondary">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li ng-repeat="parking in parkingList | orderBy: 'parking_name'  | filter:searchVal" ng-click='selectParking(parking)'
                class="item" style='overflow: auto;'>
                <div>
                    <h2>{{ parking.parking_name }}</h2>
                    <p>{{ parking.address }}, {{ parking.city }}</p>
                </div>
            </li>
        </ul>

        <div class="row">
            <div class="col col-80 col-offset-10">
                <button ng-click="cancel();" class="button button-block button-balanced">
                    {{ 'commons.cancel' | translate}}
                </button>
            </div>
            <!-- <div class="col col-80 col-offset-10">
                <button ng-click="back();" class="button button-block button-positive">
                    {{ 'commons.back' | translate}}
                </button>
            </div> -->
        </div>
    </ion-content>
</ion-view>