<ion-view view-title="{{ 'commons.services' | translate}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="back()" >
            <i class="icon ion-ios-arrow-back"> 
                    {{ 'commons.back' | translate}}
            </i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <p ng-if='!user.registry || !user.registry.services || user.registry.services.length==0' class="message-empty">{{ 'Non ci sono servizi attivi' | translate }}</p>
        <div class="list card" ng-if="user.registry.services.length">
            <div ng-click="selectService(service)" ng-repeat="service in user.registry.services" class="item item-avatar fix-item">
                <img src="{{service.icon}}">
                <h2>{{service.name}}</h2>
                <p>{{service.parkingType}}</p>
            </div>
        </div>

        <div class="row footer-fixed">
            <div class="col col-80 col-offset-10">
                <button ng-click="cancel();" class="button button-block button-balanced">
                    {{ 'commons.cancel' | translate}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
