<ion-view view-title="Servizi">
    <ion-content>
        <div class="list card">
            <div ng-click="selectService(service)" ng-repeat="service in user.registry.services" class="item item-avatar fix-item">
                <img src="{{service.icon}}">
                <h2>{{service.name}}</h2>
                <p>{{service.parkingType}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col col-80 col-offset-10">
                <button ng-click="cancel();" class="button button-block button-balanced">
                    {{ 'commons.cancel' | translate}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
