<ion-view view-title="{{ 'vehicle.title' | translate}}">
    <ion-content>
      <ion-refresher pulling-text="{{ 'commons.refresh' | translate}}" on-refresh="refreshCars()">
    </ion-refresher>
      <ion-list>
        
        <p ng-if='!vehicleList || vehicleList.length==0' class="message-empty">{{ 'vehicle.notFound' | translate}}</p>
        
        <div ng-repeat='car in vehicleList' class="list card">
          <div class="item">
            <div class="pull-left">
              <h2 style='line-height: 30px; font-size: 18px;'>{{ car.brand_model }}</h2>
              <p ng-if="car.plate">{{ 'vehicle.plate' | translate}}</p>
              <h2 ng-if="car.plate">{{ car.plate }}</h2>
            </div>
            <div class="pull-right">
              <button ng-click='onSelect(car)' class="button button-positive">{{ 'vehicle.select' | translate}}</button>
            </div>
          </div>     
          <div class="item" ng-if="car.colorApp || car.seats || hasPicture">
            <div class="pull-left m-right20" ng-if="car.colorApp">
              <p>{{ 'vehicle.color' | translate}}</p>
              <div class='color-cube'><div style='background-color: {{ car.colorApp }};'></div></div>
            </div>
            <div class="pull-left" ng-show="car.seats">
              <p>{{ 'vehicle.seats' | translate}}</p>
              <p style='font-weight: bold; font-size: 20px; line-height: 26px; text-align: center;'>{{ car.seats }}</p>
            </div>
            <div ng-if='hasPicture' style='float: right;'>
              <img ng-src="{{ car.image_min ? car.image_min : 'icons/vehicle-default-s.jpg' }}" style='max-width: 94px;'>
            </div>
          </div>
          <div ng-if='!hasPicture' class="item item-image">
            <img ng-src="{{ car.image_max ? car.image_max : 'icons/vehicle-default-l.jpg' }}">
          </div>
          <div class="item" style='overflow: auto;' ng-if="car.vehicle_status || car.vehicle_cleanness_status || car.electric_quantity || car.fuel_quantity">
            <div style='display: inline-block; margin-right: 10px;'>
                <div class="date-select-label" style='text-align: center;'>{{ 'vehicle.externalClean' | translate}}</div>
                <div style='width: 50px; height: 30px; float: left; text-align: center; padding-top: 4px;'>
                  <i ng-if="car.vehicle_status != 'Fault'" class='ion-happy-outline' style='font-size: 26px; color: #fc0300;'></i>
                  <i ng-if="car.vehicle_status == 'Fault'" class='ion-sad-outline' style='font-size: 26px; color: #fc0300;'></i>
                </div>
              </div>
              <div style='display: inline-block;' ng-if="car.vehicle_cleanness_status">
                <div class="date-select-label" style='text-align: center;'>{{ 'vehicle.internalClean' | translate}}</div>
                <div style='width: 50px; height: 30px; float: left; text-align: center; padding-top: 4px;'>
                  <i ng-if="car.vehicle_cleanness_status != 'Dirty'" class='ion-happy-outline' style='font-size: 26px; color: #fc0300;'></i>
                  <i ng-if="car.vehicle_cleanness_status == 'Dirty'" class='ion-sad-outline' style='font-size: 26px; color: #fc0300;'></i>
                </div>
              </div>
              <div class="pull-right fuel_container" ng-if="car.electric_quantity">
                <i class="fa fa-bolt elecric-icon" aria-hidden="true"></i>
                <div class="pull-right bold fuel_value">{{ car.electric_quantity }}</div>
              </div>
              <div class="pull-right fuel_container" ng-if="car.fuel_quantity">
                <div class="pull-left fuel"></div>
                <div class="pull-right bold fuel_value">{{ car.fuel_quantity }}</div>
              </div>
          </div>
        </div>
        
      </ion-list>
    </ion-content>
  </ion-view>
  