<ion-view title="{{isEdit ? 'register.titleEdit':'register.title' | translate}}">
        
    <ion-content class="mb80" on-scroll="onScroll();">
        <form ng-submit="isValid()">
            <ion-list>
                <ion-item class="item-divider" ng-if="!isEdit">
                    <h2 style="display: inline">{{ 'commons.subscriptionChooseTitle' | translate}}</h2> <span class="scopri" ng-click="openUrl('tarifs')"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ 'commons.readMore' | translate}}</span>
                </ion-item>
                <div ng-repeat="service in services" ng-if="!isEdit">
                    <div ng-click="selectTarif(tarif)" ng-repeat="tarif in service.tarif" class="item item-icon-right" ng-class="{'item-checked': currentTarif.code === tarif.code}">
                        <!-- <img ng-if="service.url" src="{{service.url}}"> -->
                        <h2>{{service.name}}</h2>
                        <p class="{{tarif.color === '#C0C0C0' ? 'silver': 'gold'}}">{{tarif.text}}
                            <!-- <div class='color-cube icon' > 
                                <div style='background-color: {{ tarif.color }};'></div>
                            </div> -->
                        </p>
                        <i ng-if="currentTarif.code !== tarif.code" class="icon ion-ios7-circle-outline" ></i> <!-- style="font-size: 14px; right: 8px; color: #f9f9f9;" -->
                        <i ng-if="currentTarif.code === tarif.code" class="icon ion-ios7-checkmark" ></i>
                    </div>
                </div>
                
                <ion-item class="item-divider" ng-if="!isEdit" >
                    <h2>{{ 'commons.accountInfoSection' | translate}}</h2>
                </ion-item>
                <ion-item>
                    <h2>{{ 'commons.firstName' | translate}} <i style="color: #8c8c8c" class="icon ion-locked" ></i> </h2>
                    <p>{{ request.firstName || '-'}}</p>
                </ion-item>
                <ion-item>
                    <h2>{{ 'commons.lastName' | translate}} <i style="color: #8c8c8c" class="icon ion-locked" ></i> </h2>
                    <p>{{ request.lastName || '-'}}</p>
                </ion-item>
                <ion-item ng-if="!isEdit">
                    <h2>{{ 'commons.email' | translate}} <i style="color: #8c8c8c" class="icon ion-locked" ></i> </h2>
                    <p>{{ request.email || '-'}}</p>
                </ion-item>
                <ion-item>
                    <h2>{{ 'commons.username' | translate}} <i style="color: #8c8c8c" class="icon ion-locked" ></i> </h2>
                    <p>{{ request.username || '-'}}</p>
                </ion-item>
                
                 <ion-item class="item-input item-stacked-label" ng-if="isEdit">
                    <span class="input-label">{{ 'Email' | translate}}<span class="color-error">*</span></span>
                    <input type="email" ng-model="request.email" placeholder="Email">
                </ion-item>
                <!--<ion-item class="item-input item-stacked-label">
                    <span class="input-label">{{ 'Conferma Email' | translate}}<span class="color-error">*</span></span>
                    <input type="email" ng-model="request.emailConfirm" placeholder="Conferma Email">
                </ion-item> -->
                <!-- <ion-item class="item-input item-stacked-label">
                    <span class="input-label">{{ 'Username' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.username" placeholder="Username">
                </ion-item> -->
                <ion-item class="item-input item-stacked-label" ng-if="!isEdit">
                    <span class="input-label">{{ 'commons.password' | translate}}<span class="color-error">*</span></span>
                    <input type="password" ng-model="request.password" placeholder="{{ 'commons.password' | translate}}" ng-paste="$event.preventDefault();" ng-copy="$event.preventDefault();" ng-cut="$event.preventDefault();" ng-init="paste=false">
                </ion-item>
                <ion-item class="item-input item-stacked-label" ng-if="!isEdit">
                    <span class="input-label">{{ 'commons.confirmPassword' | translate}}<span class="color-error">*</span></span>
                    <input type="password" ng-model="request.confirmPassword" placeholder="{{ 'commons.confirmPassword' | translate}}" ng-paste="$event.preventDefault();" ng-copy="$event.preventDefault();" ng-cut="$event.preventDefault();" ng-init="paste=false">
                </ion-item>
                <ion-item class="item-divider">
                    <h2>{{ 'commons.userInfoSection' | translate}}</h2>
                </ion-item>
                
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">{{ 'commons.mobile' | translate}}<span class="color-error">*</span></span>
                        <input type="text" ng-model="request.mobile" placeholder="{{ 'commons.mobile' | translate}}">
                    </ion-item>
                <div ng-if="!isEdit">
                    <ion-item ng-click="selectPicklistValue('birthNation')">
                        <h2>{{ 'commons.birthNation' | translate}}<span class="color-error">*</span></h2>
                        <p ng-if="request.birthNation">{{ request.birthNation}}</p>
                        <p ng-if="!request.birthNation"> {{ 'commons.selectBirthNation' | translate}} </p>
                    </ion-item>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">{{ 'commons.birthCity' | translate}}<span class="color-error">*</span></span>
                        <input type="text" ng-model="request.birthPlace" placeholder="{{ 'commons.birthCity' | translate}}">
                    </ion-item>
                    <ion-item ng-click='clearKeyboard(); selectBirthDate()'>
                        <h2>{{ 'commons.birthDate' | translate}}<span class="color-error">*</span></h2>
                        <p ng-if="request.birthDate">{{ request.birthDate | date:'dd/MM/yyyy'}}</p>
                        <p ng-if="!request.birthDate"> {{ 'commons.selectDate' | translate}} </p>
                    </ion-item>
                </div>
                    <ion-item ng-if="isEdit">
                        <h2>{{ 'commons.birthNation' | translate}} <i style="color: #8c8c8c" class="icon ion-locked" ></i> </h2>
                        <p>{{ request.birthNation || '-'}}</p>
                    </ion-item>
                    <ion-item ng-if="isEdit">
                        <h2>{{ 'commons.birthCity' | translate}} <i style="color: #8c8c8c" class="icon ion-locked" ></i> </h2>
                        <p>{{ request.birthPlace || '-'}}</p>
                    </ion-item >
                    <ion-item ng-if="isEdit">
                        <h2>{{ 'commons.birthDate' | translate}} <i style="color: #8c8c8c" class="icon ion-locked" ></i> </h2>
                        <p>{{ request.birthDate || '-'}}</p>
                    </ion-item>
                    <ion-item ng-if="request.nationResidence === 'ITALIA' || !request.nationResidence" class="item-input item-stacked-label">
                        <span class="input-label">{{ 'commons.fiscalCode' | translate}}<span class="color-error" ng-if="request.nationResidence === 'ITALIA'">*</span></span>
                        <input type="text" ng-model="request.fiscalCode" placeholder="{{ 'commons.fiscalCode' | translate}}">
                    </ion-item>
                    <!-- <ion-item ng-if="isEdit && request.nationResidence === 'ITALIA'">
                        <h2>{{ 'commons.fiscalCode' | translate}} <i style="color: #8c8c8c" class="icon ion-locked" ></i></h2>
                        <p>{{ request.fiscalCode || '-'}}</p>
                    </ion-item> -->
                <ion-item class="item-divider">
                    <h2>{{ 'commons.residenceSection' | translate}}</h2>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">{{ 'commons.addressName' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.indirizzo" placeholder="{{ 'commons.addressName' | translate}}">
                </ion-item>
                <!-- <ion-item class="item-input item-stacked-label">
                    <span class="input-label">{{ 'N°' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.civico" placeholder="N°">
                </ion-item> -->
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">{{ 'commons.city' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.city" placeholder="{{ 'commons.city' | translate}}">
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">{{ 'commons.addressZipCode' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.cap" placeholder="{{ 'commons.addressZipCode' | translate}}">
                </ion-item>
                <ion-item ng-click="selectPicklistValue('nationResidence')">
                    <h2>{{ 'commons.addressNation' | translate}}<span class="color-error">*</span></h2>
                    <p ng-if="request.nationResidence">{{ request.nationResidence}}</p>
                    <p ng-if="!request.nationResidence"> {{ 'commons.addressSelectNation' | translate}} </p>
                </ion-item>
                <ion-item ng-click="selectPicklistValue('shortProvinceResidence')" ng-show="request.nationResidence === 'ITALIA'">
                    <h2>{{ 'commons.addressProvince' | translate}}<span class="color-error">*</span></h2>
                    <p ng-if="request.shortProvinceResidence">{{ request.shortProvinceResidence}}</p>
                    <p ng-if="!request.shortProvinceResidence"> {{ 'commons.addressSelectProvince' | translate}} </p>
                </ion-item>
                




                <!-- DATI DOCUMENTO -->
                <ion-item class="item-divider">
                    <h2>{{ 'commons.documentSection' | translate}}</h2>
                </ion-item>
                <ion-item ng-click="selectPicklistValue('documentType')">
                    <h2>{{ 'commons.documentType' | translate}}<span class="color-error">*</span></h2>
                    <p ng-if="request.documentType">{{ request.documentType.text}}</p>
                    <p ng-if="!request.documentType"> {{ 'commons.documentSelectDocumentType' | translate}} </p>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">{{ 'commons.documentNumber' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.docNumber" placeholder="{{ 'commons.documentNumberPlaceholder' | translate}}">
                </ion-item>
                <ion-item ng-click='clearKeyboard(); selectDate("docEndDate"); '>
                    <h2>{{ 'commons.documentExpireDate' | translate}}<span class="color-error">*</span></h2>
                    <p ng-if="request.docEndDate">{{ request.docEndDate | date:'dd/MM/yyyy'}}</p>
                    <p ng-if="!request.docEndDate"> {{ 'commons.selectDate' | translate}} </p>
                </ion-item>



                <!-- DATI PATENTE -->
                <div ng-if="!isEdit">
                    <ion-item class="item-divider">
                        <h2>{{ 'commons.licenseSection' | translate}}</h2>
                    </ion-item>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">{{ 'commons.licenseNumber' | translate}}<span class="color-error">*</span></span>
                        <input type="text" ng-model="request.licenseNumber" placeholder="{{ 'commons.licenseNumberPlaceholder' | translate}}">
                    </ion-item>
                    <ion-item ng-click='clearKeyboard(); selectDate("licenseIssueDate")'>
                        <h2>{{ 'commons.licenseIssueDate' | translate}}<span class="color-error">*</span></h2>
                        <p ng-if="request.licenseIssueDate">{{ request.licenseIssueDate | date:'dd/MM/yyyy'}}</p>
                        <p ng-if="!request.licenseIssueDate"> {{ 'commons.selectDate' | translate}} </p>
                    </ion-item>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">{{ 'commons.licenseIssueIstitute' | translate}}</span>
                        <input type="text" ng-model="request.licenseIssueIstitute">
                    </ion-item>
                    <ion-item ng-click='clearKeyboard(); selectDate("licenseEndDate")'>
                        <h2>{{ 'commons.licenseExpireDate' | translate}}<span class="color-error">*</span></h2>
                        <p ng-if="request.licenseEndDate">{{ request.licenseEndDate | date:'dd/MM/yyyy'}}</p>
                        <p ng-if="!request.licenseEndDate"> {{ 'commons.selectDate' | translate}} </p>
                    </ion-item>
                </div>
                

                <!-- DATI FATTURAZIONE -->
                <ion-item class="item-divider" style="white-space: inherit!important;">
                    <h2 style="white-space: inherit!important;">{{ 'commons.invoiceSection' | translate}} <span>{{ 'commons.invoiceNote' | translate}}</span></h2> 
                </ion-item>
                <ion-checkbox ng-if="!isEdit || (isEdit && !iCanEditFatturazione)" id="datiFatt" name="datiFatt" ng-change="request.isDatiFatt === false ? request.isDittaindividuale = false: null" ng-value="true" ng-model="request.isDatiFatt">{{ 'commons.invoiceEnable' | translate}}</ion-checkbox>
                <ion-checkbox ng-if="!isEdit || (isEdit && !iCanEditFatturazione)" id="isDittaindividuale" ng-disabled="!request.isDatiFatt" name="isDittaindividuale" ng-value="true" ng-model="request.isDittaindividuale">{{ 'commons.invoiceIndividualCompany' | translate}}</ion-checkbox>
                <ion-item class="item-input item-stacked-label" ng-if="request.isDatiFatt || (isEdit && iCanEditFatturazione)">
                    <span class="input-label">{{ 'commons.invoiceCompanyName' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.fattRagioneSociale">
                </ion-item>
                <ion-item class="item-input item-stacked-label" ng-if="request.isDatiFatt || (isEdit && iCanEditFatturazione)">
                    <span class="input-label">{{ 'commons.vatCode' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.fattPiva">
                </ion-item>
                <ion-item class="item-input item-stacked-label" ng-if="request.isDittaindividuale || (isEdit && fattCf)">
                    <span class="input-label">{{ 'commons.fiscalCode' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.fattCF">
                </ion-item>
                <ion-item class="item-input item-stacked-label" ng-if="request.isDatiFatt || (isEdit && iCanEditFatturazione)">
                    <span class="input-label">{{ 'commons.invoiceAddress' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.fattIndirizzo">
                </ion-item>
                <ion-item class="item-input item-stacked-label" ng-if="request.isDatiFatt || (isEdit && iCanEditFatturazione)">
                    <span class="input-label">{{ 'commons.addressZipCode' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.fattCap">
                </ion-item>
                <ion-item class="item-input item-stacked-label" ng-if="request.isDatiFatt || (isEdit && iCanEditFatturazione)">
                    <span class="input-label">{{ 'commons.addressCity' | translate}}<span class="color-error">*</span></span>
                    <input type="text" ng-model="request.fattCity">
                </ion-item>
                <ion-item ng-click="selectPicklistValue('fattNation')" ng-if="request.isDatiFatt || (isEdit && iCanEditFatturazione)">
                    <h2>{{ 'commons.invoiceAddressNation' | translate}}<span class="color-error">*</span></h2>
                    <p ng-if="request.fattNation">{{ request.fattNation}}</p>
                    <p ng-if="!request.fattNation"> {{ 'commons.addressSelectNation' | translate}} </p>
                </ion-item>
                <ion-item ng-click="selectPicklistValue('fattProvince')" ng-if="((request.isDatiFatt || (isEdit && iCanEditFatturazione)) && request.fattNation === 'ITALIA')">
                    <h2>{{ 'commons.invoiceAddressProvince' | translate}}<span class="color-error">*</span></h2>
                    <p ng-if="request.fattProvince">{{ request.fattProvince}}</p>
                    <p ng-if="!request.fattProvince"> {{ 'commons.addressSelectProvince' | translate}}</span></p>
                </ion-item>
                <ion-item class="item-input item-stacked-label" ng-if="request.isDatiFatt || (isEdit && iCanEditFatturazione)">
                    <span class="input-label">{{ 'commons.sdiCode' | translate}}<span ng-if="!request.pec" class="color-error">*</span></span>
                    <input type="text" ng-model="request.sdi">
                </ion-item>
                <ion-item class="item-input item-stacked-label" ng-if="request.isDatiFatt || (isEdit && iCanEditFatturazione)">
                    <span class="input-label">{{ 'commons.pec' | translate}}<span ng-if="!request.sdi" class="color-error">*</span></span>
                    <input type="text" ng-model="request.pec">
                </ion-item>


                <ion-item class="item-divider" ng-if="!isEdit">
                    <h2>{{ 'commons.promoSection' | translate}}</h2>
                </ion-item>
                <ion-item class="item-input item-stacked-label" ng-class="{'item-disabled': disabledPromo}" ng-if="!isEdit">
                    <span class="input-label">{{ 'commons.promoHaveCode' | translate}}</span>
                    <p ng-if="disabledPromo">{{ request.promo}}</p>
                    <input ng-if="!disabledPromo" type="text" ng-model="request.promo" placeholder="{{ 'commons.promoInsertCode' | translate}}" >
                </ion-item>
                <!-- <ion-item class="item-input item-stacked-label" ng-class="{'item-disabled': disabledCompany}" ng-if="!isEdit">
                    <span class="input-label">{{ 'Hai un codice azienda?' | translate}}</span>
                    <p ng-if="disabledCompany">{{ request.company}}</p>
                    <input ng-if="!disabledCompany" type="text" ng-model="request.company" placeholder="inserisci qui il codice azienda   ">
                </ion-item> -->
            </ion-list>
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        </form>
            <!-- <ion-list ng-if="isEdit" ng-repeat="item in acceptances | filter: { step: '1'}">
                <div class="item item-divider" ng-if="item.id !== 'accept1'" style="white-space: inherit;" ng-click="openUrl(item.url)">
                    <i ng-if="item.url" class="fa fa-file-pdf-o" aria-hidden="true"></i> {{item.text}}
                </div>
                <ion-radio-fix ng-class="{'checked': value.code === request[item.id] }" ng-if="item.values.length > 1" id="id1_{{item.id}}" name="{{item.id}}" ng-repeat="value in item.values" ng-value="value.code" ng-model="request[item.id]">{{value.text}}</ion-radio-fix>
            </ion-list> -->
            <ion-list ng-if="!isEdit" ng-repeat="item in acceptances | filter: { step: '2'}">
                <div class="item item-divider" style="white-space: inherit;" ng-click="openUrl(item.url)">
                    <i ng-if="item.url" class="fa fa-file-pdf-o" aria-hidden="true"></i> {{item.text}}
                </div>
                <ion-radio-fix ng-class="{'checked': value.code === request[item.id] }" ng-if="item.values.length > 1" id="id1_{{item.id}}" name="{{item.id}}" ng-repeat="value in item.values" ng-value="value.code" ng-model="request[item.id]">{{value.text}}</ion-radio-fix>
                <ion-checkbox ng-if="item.values.length == 1" id="id2_{{item.id}}" name="{{item.id}}" ng-repeat="value in item.values" ng-value="value.code" ng-model="request[item.id]">{{value.text}}</ion-checkbox>
            </ion-list>
    </ion-content>
    <div class="row footer-fixed">
        <div class="col col-50" ng-if="!isEdit" >
            <button ng-click="logout();" class="button button-block button-balanced">
                {{ 'commons.cancel' | translate}}
            </button>
        </div>
        <div class="col col-50" ng-if="!isEdit" >
            <button ng-click="isValid();" class="button button-block button-positive">
                {{ 'commons.procede' | translate}}
            </button>
        </div>
        <div class="col col-80 col-offset-10" ng-if="isEdit">
            <button ng-click="isValid();" class="button button-block button-balanced">
                {{ 'commons.saveEdit' | translate}}
            </button>
        </div>
    </div>
</ion-view>