<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <!-- <div multi-bg="['http://i.giphy.com/13f7pejozPXuta.gif']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
    <div multi-bg="['img/giphy-bg-2.gif']" interval="3000">
      <div class="top-content row">
        <div class="app-copy col col-center">
          <h1 class="app-logo"><img class='logo' src='icons/CCSsharing-Logo-Red-l-2.1c.png' style='max-width: 70%;' /></h1>
          <p class="app-tagline">
          </p>
        </div>
      </div>

      <div class="bottom-content row">

        <div class="col col-bottom">
          <div ng-if="!recorveryPassword"  class="form-container">
            <form style="width:80%;margin: 20px auto;">
              <label class="item item-input" style="border-radius: 5px 5px 0px 0px;">
              <span class="input-label">Email</span>
              <input type="email" autocapitalize="none" id="user-input" ng-model="request.email" placeholder="{{locale.login.placeholderMail}}">
            </label>
              <label class="item item-input" style="border-radius: 0px 0px 5px 5px;">
              <span class="input-label">Password</span>
              <input type="password" id="password-input" ng-model="request.password" placeholder="Password">
            </label>
            </form>
            <a class="button button-block enter-account" ng-click="login()">
            {{ locale.login.login }}
          </a>
            <a class="forgot-password button button-clear button-block" ng-click="recorveryPasswordOn()">
            {{ locale.login.forgotPassword }}
          </a>
          </div>
          <div ng-if="recorveryPassword" class="form-container">
            <form style="width:80%;margin: 20px auto;">
              <label class="item item-input" style="border-radius: 5px;">
              <span class="input-label">Email</span>
              <input type="email" autocapitalize="none" id="email-input" ng-model="request.email" placeholder="{{locale.login.placeholderMail}}">
            </label>
            </form>
            <a class="button button-block enter-account" ng-click="callRecoverService()">
            {{ locale.login.retrievePassword }}
          </a>
            <a class="forgot-password button button-clear button-block" ng-click="recorveryPasswordOn()">
            {{ locale.login.haveAccount }}
          </a>
          </div>
          <section ng-include="'templates/commons/legal-notice.html'"></section>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


<!--<ion-view>
  <ion-content style='background-color: #fc0300;'>
    <div style='width: 300px; margin: auto; height: 280px; position: absolute; top: 50%; margin-top: -140px; left: 50%; margin-left: -150px;'>
      <div style='text-align: center; margin-bottom: 10px;'>
        <img class='logo' src='icons/CCSsharing-Logo-Red-l-2.1c.png' style='max-width: 80%;' />
      </div>
      <div ng-if="!recorveryPassword">
        <div style='padding: 5px 0;'>
          <input type="email" autocapitalize="none" id="user-input" ng-model="request.user" class='input login' style='border-radius: 3px; border: none; background-color: #fff; font-size: 13px;'
            placeholder='Username'>
        </div>
        <div style='padding: 10px 0;'>
          <input type="password" id="password-input" ng-model="request.password" class='input login' style='border-radius: 3px; border: none; background-color: #fff; font-size: 13px;'
            placeholder='Password'>
        </div>
        <div style='color:#fff' class="pull-right">
          <p ng-click="recorveryPasswordOn()">
            Recupera Password
          </p>
        </div>
        <div style='text-align: center; margin-top: 20px;'>
          <button ng-click="login()" class="button button-block button-positive but-login">
              {{ locale.login.labelLogin }}
            </button>
        </div>
        <div style='color:#fff' ng-if="loginError">
          <p>
            Username/Password errata!
          </p>
        </div>
      </div>
      <div ng-if="recorveryPassword">
        <div style='padding: 5px 0;'>
          <input type="email" id="email-input" ng-model="request.email" class='input login' style='border-radius: 3px; border: none; background-color: #fff; font-size: 13px;'
            placeholder='Email'>
        </div>
        <div style='color:#fff' class="pull-right">
          <p ng-click="recorveryPasswordOn()">
            Accedi
          </p>
        </div>
        <div style='text-align: center; margin-top: 20px;'>
          <button ng-click="callRecoverService()" class="button button-block button-positive but-login">
              Recupera Password
            </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>-->