<ion-view class="welcome-view" hide-nav-bar="true" cache-view="false">
  <ion-content>
    <!-- <div multi-bg="['http://i.giphy.com/13f7pejozPXuta.gif']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
    <div multi-bg="['img/giphy-bg-2.gif']" interval="3000">
      <div class="top-content row">
        <div class="app-copy col col-center">
          <h1 ng-show="selectedClient.logo" class="app-logo"><img class='logo' ng-src="{{selectedClient.logo}}" style='max-width: 70%;' /></h1>
          <h1 ng-show="!selectedClient.logo" class="app-logo"><img class='logo' src="icons/CCSsharing-logo.png" style='max-width: 70%;' /></h1>
          <p class="app-tagline">
          </p>
        </div>
      </div>
      <div class="bottom-content row">
        <div class="col col-bottom">
          <section ng-show="configCompanyAccount" ng-include="'templates/loginPages/companyCode.html'"></section>
          <section ng-show="!configCompanyAccount" ng-include="'templates/loginPages/loginForm.html'"></section>
          <section ng-include="'templates/commons/legal-notice.html'"></section>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view> 