<ion-view view-title="{{locale.account.title}}">
  <ion-content class='padding'>
    <ion-list>
      <ion-item>
        {{ locale.login.labelClient }}
        <h2 style='float: right; font-weight: bold;'>{{ selectedClient.text }}</h2>
      </ion-item>
      <ion-toggle ng-model="hasPicture" ng-click='setHasPicture()' toggle-class="toggle-positive">
          <h2>{{ locale.account.check1 }}</h2>
          <p style='white-space: normal;'>{{ locale.account.check1_descr }}</p>
      </ion-toggle>
      <button ng-click='logout()' class="button button-block button-positive">
        Logout
      </button>
        
    </ion-list>
  </ion-content>
</ion-view>
 