<ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <!--<ion-nav-buttons side="right">
          <button class="button button-icon button-clear" ng-click="getState()"> Test</button>
        </ion-nav-buttons>-->
      </ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="{{locale.tabs.reservations}}" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/bookings">
    <ion-nav-view name="tab-bookings"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{locale.tabs.park}}" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/tab/parking">
    <ion-nav-view name="tab-parking"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{locale.tabs.booking}}" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" href="#/tab/resume">
    <ion-nav-view name="tab-resume"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{locale.tabs.vehicles}}" icon-off="ion-android-car" icon-on="ion-android-car" href="#/tab/selcar">
    <ion-nav-view name="tab-selcar"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifiche" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/notifiction" badge="2" badge-style="badge-balanced">
    <ion-nav-view name="tab-selcar"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
