<ion-view view-title="{{ ::locale.vehicle.title }}">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshCars()">
  </ion-refresher>
    <ion-list>
      
      <p ng-if='vehicleList.length==0' class="message-empty">{{ ::locale.vehicle.messageEnpty }}</p>
      
      <div ng-repeat='car in vehicleList' class="list card">
        <div class="item">
          <div class="pull-left">
            <h2 style='line-height: 30px; font-size: 18px;'>{{ car.brand_model }}</h2>
            <p>{{ ::locale.vehicle.labelPlate }}</p>
            <h2>{{ car.plate }}</h2>
          </div>
          <div class="pull-right">
            <button ng-click='onSelect(car)' class="button button-positive">{{ ::locale.vehicle.labelSelect }}</button>
          </div>
        </div>     
        <div class="item">
          <div class="pull-left m-right20">
            <p>{{ ::locale.confirmation.labelColor }}</p>
            <div class='color-cube'><div style='background-color: {{ car.color }};'></div></div>
          </div>
          <div class="pull-left">
            <p>{{ ::locale.confirmation.labelSeat }}</p>
            <p style='font-weight: bold; font-size: 20px; line-height: 26px; text-align: center;'>{{ car.seats }}</p>
          </div>
          <div ng-if='hasPicture' style='float: right;'>
            <img ng-src="{{ car.image_min ? car.image_min : 'icons/vehicle-default-s.jpg' }}" style='max-width: 94px;'>
          </div>
        </div>
        <div ng-if='!hasPicture' class="item item-image">
          <img ng-src="{{ car.image_max ? car.image_max : 'icons/vehicle-default-l.jpg' }}">
        </div>
        <div class="item" style='overflow: auto;'>
          <div style='display: inline-block; margin-right: 10px;'>
              <div class="date-select-label" style='text-align: center;'>{{ ::locale.vehicle.labelExternal }}</div>
              <div style='width: 50px; height: 30px; float: left; text-align: center; padding-top: 4px;'>
                <i ng-if="car.vehicle_status != 'Fault'" class='ion-happy-outline' style='font-size: 26px; color: #fc0300;'></i>
                <i ng-if="car.vehicle_status == 'Fault'" class='ion-sad-outline' style='font-size: 26px; color: #fc0300;'></i>
              </div>
            </div>
            <div style='display: inline-block;'>
              <div class="date-select-label" style='text-align: center;'>{{ ::locale.vehicle.labelInterior }}</div>
              <div style='width: 50px; height: 30px; float: left; text-align: center; padding-top: 4px;'>
                <i ng-if="car.vehicle_cleanness_status != 'Dirty'" class='ion-happy-outline' style='font-size: 26px; color: #fc0300;'></i>
                <i ng-if="car.vehicle_cleanness_status == 'Dirty'" class='ion-sad-outline' style='font-size: 26px; color: #fc0300;'></i>
              </div>
            </div>
            <div style='display: inline-block; margin-left: 20px; float: right; margin-top: 9px;'>
              <div style='width: 50px; height: 30px; background: transparent url(icons/fuel_icon.png) no-repeat center center; background-size: auto 100%; float: left;'></div>
              <div style='font-weight: bold; font-size: 13pt; margin-left: 4px; float: left; color: #fc0300; line-height: 33px;'>{{ car.fuel_quantity }}</div>
          </div>
        </div>
      </div>
      
    </ion-list>
  </ion-content>
</ion-view>
