<ion-view title="BLE">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="startScan()">
        </ion-refresher>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="PNR" ng-model="customPNR">
            </label>
        </div>
        <button class="button button-balanced button-block" ng-click="startMission()"> Start Mission</button>
        <button class="button button-balanced button-block" ng-click="stopMission()"> Stop Mission</button>
        <button class="button button-balanced button-block" ng-click="versioning()"> Versioning</button>
        <button class="button button-balanced button-block" ng-click="disconnect()"> Disconnect</button>
    </ion-content>
</ion-view>