<ion-view view-title="Notifiche">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshNotifications()">
        </ion-refresher>
        <p ng-if="model.notificationsPending.length==0" class="message-empty">Non ci sono notifiche..</p>
        <ion-list>
            <ion-item ng-repeat="notification in model.notificationsPending | orderBy:'data.pushDate':true" class="item-icon-right" ng-click="openNotification(notification)">
                <h2>{{notification.headings.it}}</h2>
                <p>{{notification.contents.it}}</p>
                <span am-time-ago="notification.data.pushDate | amFromUnix">
                </span>
                <i ng-if="notification.data.eventName === 'gestioneRitardo'" class="icon ion-ios-time-outline"></i>
                <i ng-if="notification.data.eventName === 'changeDriver'" class="icon ion-model-s"></i>
                <i ng-if="notification.data.eventName !== 'changeDriver' && notification.data.eventName !== 'gestioneRitardo'" class="icon ion-android-notifications-none"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>