<ion-view view-title="{{ locale.parking.labelSelectParking }}">
  <ion-content style='background-color: #f5f5f5;'>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshParks()">
  </ion-refresher>
  <div class="bar bar-header item-input-inset" ng-show="parkingList.length > 10">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="searchVal" placeholder="{{locale.parking.placeholderSearch}}">
    </label>
  </div>
      
    <p ng-if='parkingList.length==0 && !loading' class="message-empty">{{ locale.parking.noparking }}</p>
      
    <ul class="list">
        <li ng-repeat="parking in parkingList | orderBy: 'parking_name'  | filter:searchVal" ng-click='selectParking(parking)' class="item" style='overflow: auto;'>
          <div>
            <h2>{{ parking.parking_name }}</h2>
            <p>{{ parking.address }}, {{ parking.city }}</p>
          </div>
          <div ng-click='stopPropagation($event)' class="pull-right preferite-park">
            <i ng-click="toggleFavorite(parking)" class="{{ parking.selected ? 'ion-android-star selected' : 'ion-android-star-outline' }}" style='font-size: 35px;'></i>
          </div>
        </li>
    </ul>
  </ion-content>
</ion-view>
