<ion-view title="Sos">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                La sezione di SOS ti da supporto 24H. E' importante usufruire del servizio solo in caso di vera emmergenza!
            </div>
        </div>
        <div class="row">
            <div class="col">
              <button ng-click='sendSos(sosPnr)' class="button button-block button-positive">
               <i class="fa fa-medkit" aria-hidden="true"></i> Invia Richiesta SOS
             </button>
            </div>
        </div>
    </ion-content>
</ion-view>