<ion-view view-title="{{ 'tabs.employeeReservation' | translate}}">
    <ion-content scroll="true">
        <div class="list" ng-show="employeeReservationList.length">
            <a class="item" href ng-repeat="item in employeeReservationList" ng-click="openModal(item);">
                <h2 class="bold pnr">{{item.name || 'Massimo'}} {{item.surname || 'Lanera'}}</h2>
                <p>Partenza
                </p>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h2>{{ item.cmb_pickup_parking }}</h2>
                        </ion-col>
                        <ion-col>
                            <h2>{{ item.dtp_actual_pickup_date}} {{item.tim_actual_pickup_time}}</h2>
                        </ion-col>
                    </ion-row>
                    <p>Ritorno</p>
                    <ion-row>
                        <ion-col>
                            <h2>{{ item.cmb_return_parking }}</h2>
                        </ion-col>
                        <ion-col>
                            <h2>{{ item.dtp_actual_return_date}} {{item.tim_actual_return_time}}</h2>
                        </ion-col>
                    </ion-row>

                </ion-grid>

            </a>
        </div>
    </ion-content>
</ion-view>