<ion-view title="{{ 'sos.title' | translate}}">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                {{ 'sos.info' | translate}}
            </div>
        </div>
        <div class="row">
            <div class="col">
              <button ng-click='startCall(sosPnr)' class="button button-block button-positive">
               <i class="fa fa-medkit" aria-hidden="true"></i> {{ 'sos.sendRequest' | translate}}
             </button>
            </div>
        </div>
    </ion-content>
</ion-view>