<ion-view view-title="{{ 'commons.plafond' | translate}}">
    <ion-content scroll="true">
        <ion-refresher pulling-text="{{'commons.refresh' | translate}}" on-refresh="refreshPlafond()">
        </ion-refresher>

        <div class="sticky-plafond">
            <div class="row">
                <div class="col col-50 plafond-container">
                    <p>{{'commons.currentPlafond' | translate}}</p>
                    <h3>{{ userInfo.registry.plafond || 0 | currency: '€ '}}</h3>
                </div>
                <div class="col col-50 plafond-container">
                    <p>{{'Saldo buoni' | translate}}</p>
                    <h3>{{ userInfo.registry.plafondCoupon || 0 | currency: '€ '}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <button ng-click="charge()" class="button button-block button-positive">
                        {{ 'commons.chargePlafond' | translate}}
                    </button>
                </div>
                <div class="col col-50">
                    <button ng-click="addCouponPopup()" class="button button-block button-balanced">
                        {{ 'Buono' | translate}}
                    </button>
                </div>
            </div>

            <div class="item item-divider">
                Storico Ricariche
            </div>
        </div>

        <div class="list" ng-show="movimentsList.length">

            <div class="item-icon-right item" ng-repeat="moviment in movimentsList">
                <h2 ng-if="moviment.type === 'charge'">Ricarica {{ moviment.date}}</h2>
                <h2 ng-if="moviment.type === 'credit'">Addebito {{ moviment.date}}</h2>
                <p>{{ moviment.amount || 0 | currency: '€ '}}</p>
                <i class="icon ion-arrow-up-b" style="color: green" ng-if="moviment.type === 'charge'"></i>
                <i class="icon ion-arrow-down-b" style="color: red" ng-if="moviment.type === 'credit'"></i>
            </div>
        </div>
        <!-- <ion-list>
            <ion-item ng-repeat="moviment in movimentsList" class="item-icon-right">
                <h2 ng-if="moviment.type === 'charge'">Ricarica {{ moviment.date}}</h2>
                <h2 ng-if="moviment.type === 'credit'">Addebito {{ moviment.date}}</h2>
                <p>{{ moviment.amount || 0 | currency: '€ '}}</p>
                <i class="icon ion-arrow-up-b" style="color: green" ng-if="moviment.type === 'charge'"></i>
                <i class="icon ion-arrow-down-b" style="color: red" ng-if="moviment.type === 'credit'"></i>
            </ion-item>
        </ion-list> -->

    </ion-content>
</ion-view>