<ion-view view-title="{{locale.account.title}}">
  <ion-content>
    <ion-list>
      <ion-item>
        {{ locale.account.client }}
        <h2 ng-click="deleteClienteContext()" style='float: right; font-weight: bold;'>{{ selectedClient.text }}</h2>
      </ion-item>
      <ion-toggle ng-model="hasPicture" ng-click='setHasPicture()' toggle-class="toggle-positive">
          <h2>{{ locale.account.check1 }}</h2>
          <p style='white-space: normal;'>{{ locale.account.check1_descr }}</p>
      </ion-toggle>
      <div class="row">
        <div class="col col-80 col-offset-10">
          <button ng-click='logout()' class="button button-block button-positive">
            {{ locale.account.logout }}
          </button>
        </div>
      </div>
      
        
    </ion-list>
  </ion-content>
</ion-view>
 