<ion-view view-title="{{locale.home.title}}">
  <div fab ng-click='newBooking()'>
    <div class='ion-android-add'></div>
  </div>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshBookings()">
    </ion-refresher>
    <p ng-if='BookingsList && BookingsList.length==0' class="message-empty">{{ ::locale.home.msgNoRsv }}</p>
    <ion-list ng-if="BookingsList && BookingsList.length !== 0">
      <div ng-repeat='book in BookingsList' class="list card">
        <div class="item" ng-click="openBooking(book)" ng-if="selectedClient.map">
          <p class="pull-left bold">{{ ::locale.home.rsvinfo.labPRN }}</p>
          <h2 class="pull-right bold pnr" ng-click='openBooking(book)'><i class="ion-ios-location"></i> {{ ::book.pnr }}</h2>
        </div>
        <div class="item" ng-if="!selectedClient.map">
          <p class="pull-left bold">{{ ::locale.home.rsvinfo.labPRN }}</p>
          <h2 class="pull-right bold pnr"> {{ ::book.pnr }}</h2>
        </div>
        <div class="item">
          <h2 class="brand_model">{{ ::book.brand_model }}</h2>
          <p>{{ ::locale.home.labelPlate }}</p>
          <h2>{{ ::book.plate }}</h2>
        </div>
        <div ng-if='!hasPicture' class="item item-image">
          <img ng-src="{{ book.image_max ? book.image_max : 'icons/vehicle-default-l.jpg' }}">
        </div>
        <div class="item">
          <div class="pull-left">
            <p>{{ ::locale.confirmation.labelColor }}</p>
            <div class='color-cube'>
              <div style='background-color: {{ book.cmb_color }};'></div>
            </div>
          </div>
          <div class="pull-left" ng-show='book.seats'>
            <p>{{ ::locale.confirmation.labelSeat }}</p>
            <p class="bold" style='font-size: 20px; line-height: 26px; text-align: center;'>{{ ::book.seats }}</p>
          </div>
          <div class="pull-right" ng-if='hasPicture'>
            <img ng-src="{{ book.image_min ? book.image_min : 'icons/vehicle-default-s.jpg' }}" style='max-width: 94px;'>
          </div>
        </div>
        <div class="item">
          <div style='display: inline-block; margin-right: 10px;'>
            <div class="date-select-label" style='text-align: center;'>{{ ::locale.vehicle.labelExternal }}</div>
            <div class="pull-left" style='width: 50px; height: 30px; text-align: center; padding-top: 4px;'>
              <i ng-if="book.vehicle_status != 'Fault'" class='ion-happy-outline' style='font-size: 26px; color: #fc0300;'></i>
              <i ng-if="book.vehicle_status == 'Fault'" class='ion-sad-outline' style='font-size: 26px; color: #fc0300;'></i>
            </div>
          </div>
          <div style='display: inline-block;'>
            <div class="date-select-label text-center">{{ ::locale.vehicle.labelInterior }}</div>
            <div class="pull-left text-center" style='width: 50px; height: 30px;padding-top: 4px;'>
              <i ng-if="book.vehicle_cleanness_status != 'Dirty'" class='ion-happy-outline' style='font-size: 26px; color: #fc0300;'></i>
              <i ng-if="book.vehicle_cleanness_status == 'Dirty'" class='ion-sad-outline' style='font-size: 26px; color: #fc0300;'></i>
            </div>
          </div>
          <div class="pull-right fuel_container">
            <div class="pull-left fuel"></div>
            <div class="pull-left bold fuel_value">{{ ::book.cmb_fuel_quantity }}</div>
          </div>
        </div>
        <div class="item">
          <div class="pull-left">
            <h2>{{ ::locale.home.labelGet }}</h2>
            <p>{{ ::book.pickup_parking }}</p>
          </div>
          <p class="pull-right value">{{ ::book.dateTimeFrom | date:'dd/MM/yyyy HH:mm' }}</p>
        </div>
        <div class="item">
          <div class="pull-left">
            <h2>{{ ::locale.home.labelSet }}</h2>
            <p>{{ ::book.return_parking }}</p>
          </div>
          <p class="pull-right value">{{ ::book.dateTimeTo | date:'dd/MM/yyyy HH:mm' }}</p>
        </div>
        <div class="item" ng-if="book.status === 'Booked'">
          <div class="row">
            <div class="col col50" ng-if="selectedClient.btnOpenClose && tolleranceCheck">
              <button ng-click="openCarManipolation(book, '0')" class="button button-balanced button-block pull-right" style="padding: 0px 15px;">
                  {{ ::locale.booking.buttonOpenCar }}
              </button>
            </div>
            <div class="col col50">
              <button ng-click='delete(book)' class="button button-block button-positive">
               <i class="icon ion-ios-trash"></i> {{ ::locale.home.cancelReservation }}
             </button>
          </div>
        </div>
        <div class="item" ng-if="book.status === 'Collected' && ((selectedClient.btnOpenClose && tolleranceCheck) || actions.buttons.length > 0)">
          <div class="row">
            <div class="col col50" ng-if="selectedClient.btnOpenClose && tolleranceCheck">
              <button ng-click="openCarManipolation(book, '1')" class="button button-positive button-block pull-right" style="padding: 0px 15px;">
                  {{ ::locale.booking.buttonCloseCar }}
              </button>
            </div>
            <div class="col col50" ng-if="actions.buttons.length > 0">
              <ccs-action-sheet book="book" action-buttons="actions.buttons" callback="loadbookings()"></ccs-action-sheet>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>