<ion-view view-title="{{ 'bookings.title' | translate }}">
  <div fab ng-click='startBooking()'>
    <div class='ion-android-add'></div>
  </div>
  <div fab ng-click='startReservationWithMap()' ng-if="selectedClient.searchMap" style="bottom: 130px;">
    <div class='ion-location' style="padding: 0px 0px 0px 2px;font-size:30px"></div>
  </div>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshBookings()">
    </ion-refresher>
    <p ng-if='BookingsList && BookingsList.length==0' class="message-empty">{{ 'bookings.notFound' | translate }}</p>

    <ion-list ng-if="BookingsList && BookingsList.length">
      
        <div ng-repeat='book in BookingsList'>
            <ng-include src="'templates/tabs/bookings-cards/reservation.html'" ng-if="book.status !== 'Registered' && book.reservetionType !== 'pooling'"></ng-include>
            <ng-include src="'templates/tabs/bookings-cards/order.html'" ng-if="book.status === 'Registered' && book.reservetionType !== 'pooling'"></ng-include>
            <ng-include src="'templates/tabs/bookings-cards/pooling.html'" ng-if="book.reservetionType === 'pooling'"></ng-include>
        </div>
    </ion-list>
  </ion-content>
</ion-view>