<div class="list card">
    <div class="item">
        <p class="pull-left bold">{{ 'bookings.pnr' | translate }}</p>
        <h2 class="pull-right bold pnr"> {{ ::book.pnr }}</h2>
    </div>
    <div class="item">
        <div class="pull-left m-right20">
            <h2 class="brand_model">{{ book.brand_model }}</h2>
            <p>Motorizzazione</p>
            <h2>{{ book.fuel }}</h2>
        </div>
        <div class="pull-right">
            <img style="width: 70px" src="{{getService(book.serviceID).icon}}" alt="">
        </div>
    </div>
    <div ng-if='!hasPicture' class="item item-image">
        <img ng-src="{{ book.image_max ? book.image_max : 'icons/vehicle-default-l.jpg' }}">
    </div>
    <div class="item">
        <div class="pull-left m-right20">
            <p>{{ 'bookings.color' | translate }}</p>
            <div class='color-cube'>
                <div style='background-color: {{ book.colorApp }};'></div>
            </div>
        </div>
        <div ng-class="{'pull-left': hasPicture, 'pull-right': !hasPicture}">
            <p>{{ 'bookings.seats' | translate }}</p>
            <p class="bold" style='font-size: 20px; line-height: 26px; text-align: center;'>{{ ::book.seats }}</p>
        </div>
        <div class="pull-right" ng-if='hasPicture'>
            <img ng-src="{{ book.image_min ? book.image_min : 'icons/vehicle-default-s.jpg' }}" style='max-width: 94px;'>
        </div>
    </div>
    <div class="item">
        <div class="pull-left">
            <h2>{{ 'bookings.get' | translate }}</h2>
            <p>{{ ::book.pickup_parking }}</p>
        </div>
        <p class="pull-right value">{{ ::book.dateTimeFrom | date:'dd/MM/yyyy HH:mm' }}</p>
    </div>
    <div class="item">
        <div class="pull-left">
            <h2>{{ 'bookings.set' | translate }}</h2>
            <p>{{ ::book.return_parking }}</p>
        </div>
        <p class="pull-right value">{{ ::book.dateTimeTo | date:'dd/MM/yyyy HH:mm' }}</p>
    </div>
    <div class="item">
        <div class="pull-left m-right20">
            <h2>{{ 'bookings.tarif' | translate }}</h2>
            <p class="bold">{{getTarif(book.serviceID, book.tarifID).text}}</p>
        </div>
        <div class="pull-right">
            <h2>{{ 'bookings.price' | translate }}</h2>
            <p class="bold price">{{book.importoPresunto}} {{selectedClient.currency || '€'}}</p>
        </div>

    </div>
    <div class="item text-center">
        <strong class="energized"><i class="icon ion-android-alert"></i> {{ 'bookings.orderPending' | translate }}</strong>
        <button ng-click='delete(book)' class="button button-block button-positive ">
            <i class="icon ion-ios-trash"></i> {{ 'bookings.cancelReservation' | translate }}
        </button>
    </div>
</div>