.bar.bar-positive {
    border-color: #075d9c;
    background-color: #0668B1;
    background-image: linear-gradient(0deg, #075d9c, #075d9c 50%, transparent 50%);
}
.bar.bar-positive.bar-footer {
    background-image: linear-gradient(180deg, #075d9c, #075d9c 50%, transparent 50%);
}
.bar-positive .button {
    background-color: #0668B1;
}
.bar-positive .button.active,
.bar-positive .button.activated {
    background-color: #075d9c;
}
.tabs-positive > .tabs,
.tabs.tabs-positive {
    border-color: #075d9c;
    background-color: #0668B1;
    background-image: linear-gradient(0deg, #075d9c, #075d9c 50%, transparent 50%);
}
.tabs-positive > .tabs .tab-item .badge,
.tabs.tabs-positive .tab-item .badge {
    color: #0668B1;
}
.tabs-striped.tabs-positive .tabs {
    background-color: #0668B1;
}
.tabs-striped.tabs-background-positive .tabs {
    background-color: #0668B1;
}
.tabs-striped.tabs-color-positive .tab-item.tab-item-active,
.tabs-striped.tabs-color-positive .tab-item.active,
.tabs-striped.tabs-color-positive .tab-item.activated {
    color: #0668B1;
    border: 0 solid #0668B1;
}
.tabs-color-positive .tab-item.tab-item-active,
.tabs-color-positive .tab-item.active,
.tabs-color-positive .tab-item.activated {
    color: #0668B1;
    border: 0 solid #0668B1;
}
ion-tabs.tabs-color-active-positive .tab-item {
    color: #444;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #0668B1;
}
.tab-item.tab-item-active.tab-item-positive,
.tab-item.active.tab-item-positive,
.tab-item.activated.tab-item-positive {
    color: #0668B1;
}
.item-complex.item-positive > .item-content {
    border-color: #075d9c;
    background-color: #0668B1;
}
.item-complex.item-positive > .item-content.active,
.item-complex.item-positive > .item-content:active {
    border-color: #075d9c;
    background-color: #075d9c;
}
.item-complex.item-positive > .item-content.active.item-complex > .item-content,
.item-complex.item-positive > .item-content:active.item-complex > .item-content {
    border-color: #075d9c;
    background-color: #075d9c;
}
.tabs .tab-item .badge.badge-positive,
.badge.badge-positive {
    background-color: #0668B1;
}
.toggle.toggle-positive input:checked + .track {
    border-color: #0668B1;
    background-color: #0668B1;
}
.toggle-small .toggle-positive input:checked + .track {
    background-color: rgba(239, 71, 58, 0.5);
}
.toggle-small .toggle-positive input:checked + .track .handle {
    background-color: #0668B1;
}
.button.button-positive {
    border-color: transparent;
    background-color: #0668B1;
}
.button.button-positive.active,
.button.button-positive.activated {
    background-color: #075d9c;
}
.button.button-positive.button-clear {
    color: #0668B1;
}
.button.button-positive.button-outline {
    border-color: #0668B1;
    color: #0668B1;
}
.button.button-positive.button-outline.active,
.button.button-positive.button-outline.activated {
    background-color: #0668B1;
}
.positive,
a.positive {
    color: #0668B1;
}
.positive-bg {
    background-color: #0668B1;
}
.positive-border {
    border-color: #075d9c;
}

.tab-item-active,
.tab-item.activated {
	color: #0668B1!important;
	border-bottom-color: #0668B1!important;
}

[fab] {
	background-color: #0668B1;
}