.bar.bar-positive {
    border-color: #ec0300;
    background-color: #fc0300;
    background-image: linear-gradient(0deg, #ec0300, #ec0300 50%, transparent 50%);
}
.bar.bar-positive.bar-footer {
    background-image: linear-gradient(180deg, #ec0300, #ec0300 50%, transparent 50%);
}
.bar-positive .button {
    background-color: #fc0300;
}
.bar-positive .button.active,
.bar-positive .button.activated {
    background-color: #ec0300;
}
.tabs-positive > .tabs,
.tabs.tabs-positive {
    border-color: #ec0300;
    background-color: #fc0300;
    background-image: linear-gradient(0deg, #ec0300, #ec0300 50%, transparent 50%);
}
.tabs-positive > .tabs .tab-item .badge,
.tabs.tabs-positive .tab-item .badge {
    color: #fc0300;
}
.tabs-striped.tabs-positive .tabs {
    background-color: #fc0300;
}
.tabs-striped.tabs-background-positive .tabs {
    background-color: #fc0300;
}
.tabs-striped.tabs-color-positive .tab-item.tab-item-active,
.tabs-striped.tabs-color-positive .tab-item.active,
.tabs-striped.tabs-color-positive .tab-item.activated {
    color: #fc0300;
    border: 0 solid #fc0300;
}
.tabs-color-positive .tab-item.tab-item-active,
.tabs-color-positive .tab-item.active,
.tabs-color-positive .tab-item.activated {
    color: #fc0300;
    border: 0 solid #fc0300;
}
ion-tabs.tabs-color-active-positive .tab-item {
    color: #444;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #fc0300;
}
.tab-item.tab-item-active.tab-item-positive,
.tab-item.active.tab-item-positive,
.tab-item.activated.tab-item-positive {
    color: #fc0300;
}
.item-complex.item-positive > .item-content {
    border-color: #ec0300;
    background-color: #fc0300;
}
.item-complex.item-positive > .item-content.active,
.item-complex.item-positive > .item-content:active {
    border-color: #ec0300;
    background-color: #ec0300;
}
.item-complex.item-positive > .item-content.active.item-complex > .item-content,
.item-complex.item-positive > .item-content:active.item-complex > .item-content {
    border-color: #ec0300;
    background-color: #ec0300;
}
.tabs .tab-item .badge.badge-positive,
.badge.badge-positive {
    background-color: #fc0300;
}
.toggle.toggle-positive input:checked + .track {
    border-color: #fc0300;
    background-color: #fc0300;
}
.toggle-small .toggle-positive input:checked + .track {
    background-color: rgba(239, 71, 58, 0.5);
}
.toggle-small .toggle-positive input:checked + .track .handle {
    background-color: #fc0300;
}
.button.button-positive {
    border-color: transparent;
    background-color: #fc0300;
}
.button.button-positive.active,
.button.button-positive.activated {
    background-color: #ec0300;
}
.button.button-positive.button-clear {
    color: #fc0300;
}
.button.button-positive.button-outline {
    border-color: #fc0300;
    color: #fc0300;
}
.button.button-positive.button-outline.active,
.button.button-positive.button-outline.activated {
    background-color: #fc0300;
}
.positive,
a.positive {
    color: #fc0300;
}
.positive-bg {
    background-color: #fc0300;
}
.positive-border {
    border-color: #ec0300;
}

.tab-item-active,
.tab-item.activated {
	color: #fc0300!important;
	border-bottom-color: #fc0300!important;
}

[fab] {
	background-color: #fc0300;
}

.multi-bg-outer .bg-overlay {
    background-color: #fc0300;
}

.welcome-view .bottom-content .enter-account {
    background: #ec0300;
}